@{
    ViewBag.Title = "Mis Notas";
}
    <div id="app">
        <div class="container">
            <br />

            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <div class="card-header bg-info">
                        <div class="card-title text-center text-white">
                            <h3 class="text-center">{{GRUPO}}</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-12">
                    <br />
                    <b-row no-gutters>
                        <b-col md="7">
                            <br /><br />
                            <div class="text-center">
                                <b-form-group label="Busca tu examen"
                                              label-for="filter-input"
                                              label-cols-sm="4"
                                              label-align-sm="right"
                                              label-size="sm"
                                              class="mb-0">
                                    <b-input-group size="xl">
                                        <b-form-input id="filter-input"
                                                      v-model="filter"
                                                      size="lg"
                                                      v-on:keyup="buscar()"
                                                      placeholder="Ingresar título"></b-form-input>
                                        <b-input-group-append>

                                            &nbsp;&nbsp;<b-avatar icon="search" size="3rem" variant="ligth"></b-avatar>
                                        </b-input-group-append>

                                    </b-input-group>
                                </b-form-group>
                            </div>
                        </b-col>
                        <b-col md="2">
                            <div class="text-left">
                                <br /><br />
                                &nbsp;&nbsp;<b-button :disabled="!filter" @@click="filter = '', buscar()">Limpiar</b-button>
                            </div>
                        </b-col>
                        <b-col md="3">
                            <div class="text-right">
                                <b-button-group>
                                    <span class="btn btn-link text-info" style="width:70px" title="Configurar filtro" v-on:click="pantalla({ PANTALLA: 'filtros' })">
                                        <span class="badge badge-light text-black-50" style="font-size: 11px; height: 11px; margin-top: -30px;  z-index: 10;">Filtros</span>
                                        <b-avatar variant="outline-info" icon="sliders" size="5rem"></b-avatar>
                                    </span>
                                </b-button-group>
                            </div>
                        </b-col>
                    </b-row>

                </div>
            </div>
            <hr />
            <br />
            <div class="row">
                <div class="col-sm-12 col-md-4 col-lg-4" v-for="item in ListaExamenes">
                    <div class="card redondoCardLight  cajaGrisClaroDelgado ">
                        <br /><br />
                        <div class="row" style="height: 240px;">
                            <div class="col-xs-12 col-sm-12 text-center text-white bg-info">
                                <div style="height: 50px;">
                                    <br /><span style="font-size: 14px">{{item.TITULO}}</span><br /><br />
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-12">
                                <br />
                                <b-table-simple hover small caption-top responsive>
                                    <b-thead head-variant="dark">
                                        <b-tr>
                                            <b-th style="text-align: center; font-size:10px;">Nota:</b-th>
                                            <b-th style="text-align: center; font-size:10px;">Tiempo:</b-th>
                                        </b-tr>
                                    </b-thead>
                                    <b-tbody>
                                        <b-tr>
                                            <b-td style="text-align: center; font-size:10px;">{{item.NOTA}}</b-td>
                                            <b-td style="text-align: center; font-size:10px;">{{item.TIEMPO}}</b-td>
                                        </b-tr>
                                    </b-tbody>
                                </b-table-simple>
                                <b-table-simple hover small caption-top responsive>
                                    <b-thead head-variant="dark">
                                        <b-tr>
                                            <b-th style="text-align: center; font-size:10px;">Fecha:</b-th>
                                            <b-th style="text-align: center; font-size:10px;"></b-th>
                                        </b-tr>
                                    </b-thead>
                                    <b-tbody>
                                        <b-tr>
                                            <b-td style="text-align: center; font-size:10px;">{{item.FECHA_INI}}</b-td>
                                            <b-td style="text-align: center; font-size:10px;">{{item.FECHA_FIN}}</b-td>
                                        </b-tr>
                                    </b-tbody>
                                </b-table-simple>

                            </div>
                            <div class="col-xs-12 col-sm-12">
                                <div class="row" style="height: 90px;">
                                    <div class="col-xs-6 col-md-6 text-right">
                                        <span style="font-size: 14px"> <b-badge variant="info">{{ item.FECHA }}</b-badge></span>
                                    </div>
                                    <div class="col-xs-6 col-md-6 text-left">
                                        <div v-if="item.CONTROL == 1">
                                            <b-button v-on:click="filtrar( {ID_EXAMEN: item.ID_EXAMEN, TITULO: item.TITULO } )" variant="outline-info" pill><b-avatar variant="outline-info" icon="check2-circle" size="2rem"></b-avatar> Ver detalle</b-button>
                                        </div>
                                    </div>
                                </div>
                            </div>



                            <br />
                        </div>
                    </div> <br /><br />
                </div>
            </div>
        </div>
        <b-modal id="filtros" size="md" data-html="true" hide-footer hide-header>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="card redondoCardLight  cajaGrisClaroDelgado ">
                        <div class="card-header bg-info" style="float:right; font-size: 18px; height: 40px; margin-top: 0px;  z-index: 10;">
                            <div class="card-title text-center text-white">
                                <strong class="text-center">CONFIGURAR FILTRO</strong>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <b-form>
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-3 col-form-label">Mes:</label>
                                        <div class="col-sm-9">
                                            <select v-model="A" class="form-control">
                                                <option v-for="item in ListaA" v-bind:value="item.TITULO ">
                                                    {{ item.TITULO }}
                                                </option>
                                            </select>
                                            <br />
                                            <div class="text-right">
                                                <b-button v-on:click="filtrarFecha()" variant="outline-info" pill><b-avatar variant="outline-info" v-on:click="aplicarFiltros()" icon="pencil-square" size="2rem"></b-avatar>Aplicar filtros</b-button>
                                            </div>
                                        </div>
                                    </div>
                                </b-form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </b-modal>
        <b-modal id="cargarExamenNotas" size="xl" data-html="true" hide-footer hide-header>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="card redondoCardLight  cajaGrisClaroDelgado ">
                        <div class="card-header bg-info" style="float:right; font-size: 18px; height: 40px; margin-top: 0px;  z-index: 10;">
                            <div class="card-title text-center text-white">
                                <strong class="text-center">{{EXAMEN}}</strong>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card-text">
                                <div class="row" v-for="item in ListaPreguntas">
                                    <div class="col-xs-12 col-sm-12">
                                        <template v-if="item.VALOR==0">
                                            <b-alert show variant="danger">
                                                <br /><b style="font-size:12px;">{{item.PREGUNTA}}</b><br />
                                                <br /><b style="font-size:11px;">{{item.VALOR}} - {{item.RESPUESTA}}</b>
                                                <br /><b style="font-size:10px;">{{item.FECHA}}</b>
                                            </b-alert>
                                        </template>
                                        <template v-else="item.VALOR==0">
                                            <b-alert show variant="info">
                                                <br /><b style="font-size:12px;">{{item.PREGUNTA}}</b><br />
                                                <br /><b style="font-size:11px;">{{item.VALOR}} - {{item.RESPUESTA}}</b>
                                                <br /><b style="font-size:10px;">{{item.FECHA}}</b>
                                            </b-alert>
                                        </template>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </b-modal>

    </div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            ID_USUARIO: sessionStorage.getItem('ID_USUARIO'),
            USUARIO: sessionStorage.getItem('USUARIO'),
            NOMBRES: sessionStorage.getItem('NOMBRES'),
            APELLIDOS: sessionStorage.getItem('APELLIDOS'),
            SERVER_URL: sessionStorage.getItem('SERVER_URL'),

            ID_EXAMEN: 0,
            EXAMEN: 'NO TITULO',
            NOTA: 0,
            CANTIDAD: 0,
            currentTime: 1,
            min: 0,
            sec: 0,
            CONTAR: false,
            A: '',
            GRUPO: '',
            ID_GRUPO: 0,
            filter: '',
            text: "",
            qrcode: new QRious({ size: 300 }),
            ListaExamenes: [],
            ListaExamenes_: [],
            ListaExamenesSinFiltro: [],
            ListaPreguntas: [],
            ListaPreguntasSinFiltro: [],
            ListaA: [],
            ColumnasExamen: [
                'VALOR', 'PREGUNTA', 'RESPUESTA', 'FECHA'
            ],
        },
        //computed: {
        //    newQRCode() {
        //        this.qrcode.value = 'ID ' + this.ID_EXAMEN + '-' + this.FORMULARIO + '  Usuario: ' + this.USUARIO + '  Nombres: ' + this.APELLIDOS + ' ' + this.NOMBRES + ' Calificación: '+  this.NOTA + ' (' + this.CANTIDAD + '/' + this.ListaPreguntas.length + ')  Tiempo:' + this.min + ':' + this.sec + ' ';
        //        return this.qrcode.toDataURL();
        //    },
        //},
        methods: {
            mostrarModal: function (form) {
                this.MensajeSistema = form.msg;
                this.$bvModal.show(form.modal);

            },
            mostrarToast(variant = null) {
                this.$bvToast.toast(variant.msg, {
                    title: `Alerta de sistema`,
                    variant: variant.toast,
                    solid: true
                })
            },
            pantalla: function (item) {
                this.$bvModal.show(item.PANTALLA);
            },
            OcultarModal: function (form) {
                this.$bvModal.hide(form.modal);
            },
            buscar: function () {
                this.ListaExamenes = this.ListaExamenes_;
                if (this.filter.length > 0) {
                    let palabra = this.filter.toUpperCase();
                    this.ListaExamenes = this.ListaExamenes_.filter(x => {
                        return x.TITULO.includes(palabra);
                    });
                }
                else {
                    this.ListaComunicados = this.ListaComunicadosSinFiltro;
                }
            },
            filtrar: function (item) {
                this.EXAMEN = item.TITULO;
                this.ListaPreguntas = this.ListaPreguntasSinFiltro.filter(examen => examen.ID_EXAMEN == item.ID_EXAMEN);
                this.pantalla({ PANTALLA: 'cargarExamenNotas' });
            },
            filtrarFecha: function () {
                this.ListaExamenes = this.ListaExamenesSinFiltro.filter(examen => examen.FECHA == this.A);
                this.ListaExamenes_ = this.ListaExamenes;
            },
            listarPreguntas: function () {  //  ID_FORMULARIO: item.ID, GRUPO: item.GRUPO, FORMULARIO: item.FORMULARIO
                axios.post(this.SERVER_URL + '/api/Examen/ListarExamenNotas', {
                    ID_USUARIO: this.ID_USUARIO,
                    CONTENIDO: '',
                    TIPO: 29
                }).then(response => {
                    if (response.data.length > 0) {
                        this.ListaPreguntasSinFiltro = response.data;
                        const map = new Map();
                        for (const item of this.ListaPreguntasSinFiltro) {
                            if (!map.has(item.ID_EXAMEN)) {
                                map.set(item.ID_EXAMEN, true);
                                this.ListaExamenes.push({ ORDEN: item.ORDEN, ID_EXAMEN: item.ID_EXAMEN, TITULO: item.TITULO, NOTA: item.NOTA, FECHA_INI: item.FECHA_INI, FECHA_FIN: item.FECHA_FIN, TIEMPO: item.TIEMPO, CONTROL: item.CONTROL, FECHA: item.FECHA.substr(0, 7) });
                            }
                        }
                        this.ListaA = []; this.ListaExamenesSinFiltro = this.ListaExamenes;
                        for (const item of this.ListaExamenes) {
                            if (!map.has(item.FECHA)) {
                                map.set(item.FECHA, true);
                                this.ListaA.push({ TITULO: item.FECHA });
                            }
                        }
                        this.ListaExamenes = [];
                    }
                }).catch(e => {
                    this.mostrarToast({ toast: 'warning', msg: 'Error en la conexión ...' + e.me });
                });
            }
        }
    })
    //app.listarNegativo();
    app.listarPreguntas();
</script>
