
@{
    ViewBag.Title = "Perfil";
}

    <div id="app">
        <div class="containerClaro">
            <br />
            <div class="row">
                <div class="col-xs-12 col-md-4">

                    <template>
                        <div>
                            <template>
                                <br />
                                <br />
                                <div class="text-center" style=" height: 450px; ">
                                    <b-avatar button icon="bookmark-check" size="24rem" variant="light"></b-avatar>
                                </div>
                            </template>
                        </div>
                    </template>


                </div>
                <div class="col-xs-12 col-md-8">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="card-header bg-info">
                                <div class="card-title text-center text-white">
                                    <strong class="text-center">RECORD MONITOREO</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <br />
                            <div class="col-sm-12 col-md-4 col-lg-3" v-for="item in Lista">
                                <div class="card redondoCardLight  cajaGrisClaroDelgado ">
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-12 col-sm-12 text-center">

                                            <b-avatar class="text-center" button icon="bookmark-check" size="7rem" variant="info"></b-avatar>
                                            <br /><br /><br />
                                        </div>

                                        <div class="col-xs-12 col-sm-12 text-center text-white bg-info">
                                            <br /><span style="font-size: 21px">{{item.ID}}-{{item.TITULO}}</span><br /><br />
                                        </div>
                                        <div class="col-xs-12 col-sm-12">
                                            <br />
                                            <b-table-simple hover small caption-top responsive>
                                                <b-thead head-variant="dark">
                                                    <b-tr>
                                                        <b-th style="text-align: center; font-size:10px;">FECHA:</b-th>
                                                        <b-th style="text-align: center; font-size:10px;">MONITOR:</b-th>
                                                    </b-tr>
                                                </b-thead>
                                                <b-tbody>
                                                    <b-tr>
                                                        <b-td style="text-align: center; font-size:10px;">{{item.FECHA}}</b-td>
                                                        <b-td style="text-align: center; font-size:10px;">{{item.USUARIO}}</b-td>
                                                    </b-tr>
                                                </b-tbody>
                                            </b-table-simple>


                                            <br />
                                        </div>

                                        <div class="col-xs-12 col-md-12 text-right">
                                            <b-button v-on:click="detalleMonitor( {PLANTILLA: item.ACCIONES } )" variant="outline-info" pill><b-avatar variant="outline-info" icon="check2-circle" size="2rem"></b-avatar> Ver detalle</b-button>
                                        </div>
                                    </div>
                                    <br />
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>

        </div>
        

        <b-modal id="cargar" size="xl" data-html="true" hide-footer hide-header>
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div class="card redondoCardLight  cajaGrisClaroDelgado ">
                        <div class="row">
                            <div class="col-xs-6 col-md-6 col-lg-6" v-for="(item , index) in ListaDetalle">
                                <font style="line-height: 1.0" size="5">
                                    <p class="text-right text-dark" style="font-size: 12px;" v-if="index%2==0">{{item.name}}</p><p class="text-left text-black-50" style="font-size: 12px;" v-else="index%2==0">{{item.name}}</p>
                                </font>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </b-modal>


    </div>

<script>

    var app = new Vue({
        el: '#app',
        data: {
            ID_USUARIO: sessionStorage.getItem('ID_USUARIO'),
            USUARIO: sessionStorage.getItem('USUARIO'),
            NOMBRES: sessionStorage.getItem('NOMBRES'),
            APELLIDOS: sessionStorage.getItem('APELLIDOS'),
            SERVER_URL: sessionStorage.getItem('SERVER_URL'),

            Lista: [],
            ListaDetalle: [],
            slide: 0,
            sliding: null,
            filter: '',
        },
        methods: { 
            mostrarModal: function (form) {
                this.MensajeSistema = form.msg;
                this.$bvModal.show(form.modal);

            },
            mostrarToast(variant = null) {
                this.$bvToast.toast(variant.msg, {
                    title: `Alerta de sistema`,
                    variant: variant.toast,
                    solid: true
                })
            },
            pantalla: function (item) {
                this.$bvModal.show(item.PANTALLA);
            },
            OcultarModal: function (form) {
                this.$bvModal.hide(form.modal);
            },
            listaMonitor: function () {
                axios.post(this.SERVER_URL + '/api/Usuarios/ListarUsuarios', {
                    ID_SEDE: this.ID_SEDE,
                    ID_USUARIO: this.ID_USUARIO,
                    CONTENIDO: this.USUARIO,
                    TIPO: 12,
                }).then(response => {
                    if (response.data.length > 0) {
                        this.Lista = response.data;
                    }

                }).catch(e => { this.mostrarToast({ toast: 'warning', msg: 'Error en la conexión ...' }); });
            },
            detalleMonitor: function (item) {
                let separado = item.PLANTILLA.split("|");
                for (var i in separado) {
                    this.ListaDetalle.push({ name: separado[i] });
                }
                this.pantalla({ PANTALLA: 'cargar' });
            }

        }
    })
    app.listaMonitor();
    
</script>


