@{
    Layout = "~/Views/Shared/_ImageUpload.cshtml";
}
<div id="app">
    <div class="container">
        <br />
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <br />
                <template>
                    <b-container fluid>
                        <!-- User Interface controls -->
                        <b-row>
                            <b-col xs="8" sm="8" md="8" class="my-1">
                                <label class="mr-sm-2"></label>
                            </b-col>
                            <b-col xs="4" sm="4" md="4" class="my-1">
                                <b-form-group label="Buscar"
                                              label-for="filter-input"
                                              label-cols-sm="4"
                                              label-align-sm="right"
                                              label-size="sm"
                                              class="mb-0">
                                    <b-input-group size="sm">
                                        <b-form-input id="filter-input"
                                                      v-model="filter"
                                                      type="search"
                                                      v-on:keyup="buscar(filter)  "
                                                      placeholder="Ingresar RUC"></b-form-input>

                                        <b-input-group-append>
                                            <b-button :disabled="!filter" @@click="filter = ''">Limpiar</b-button>
                                        </b-input-group-append>
                                    </b-input-group>
                                </b-form-group>
                            </b-col>



                        </b-row>

                        <br />
                        <div class="row" v-for="item in ListaGrilla">
                            <div class="col-xs-12 col-sm-12">
                                <template>
                                    <b-alert show variant="info">
                                        <div class="row">
                                            <div class="col-3 text-center">
                                                <br /><b-avatar class="text-center" button icon="exclamation-octagon" size="6rem" variant="info"></b-avatar>
                                            </div>
                                            <div class="col-9">
                                                <br /><b style="font-size:24px;">{{item.RESULTADO}}</b><br /><br /><hr />
                                                <br /><b style="font-size:14px;">{{item.PLANTILLA}}</b>
                                            </div>
                                        </div>
                                    </b-alert>
                                </template>
                            </div>
                        </div>



                    </b-container>
                </template>
            </div>

        </div>
    </div>
</div>


<script>

    var app = new Vue({
        el: '#app',
        data: {
            ID_USUARIO: sessionStorage.getItem('ID_USUARIO'),
            SERVER_URL: sessionStorage.getItem('SERVER_URL'),
            ID_SEDE: sessionStorage.getItem('ID_SEDE'),

            ListaGrilla: [],
            filter: '',

        },
        methods: {
            ocultarPantalla: function (form) {
                this.$bvModal.hide(form.PANTALLA);
            },
            pantalla: function (form) {
                this.$bvModal.show(form.PANTALLA);
            },
            mostrarToast(variant = null) {
                this.MensajeSistema = variant.msg;
                this.$bvToast.toast(this.MensajeSistema, {
                    title: `Alerta de sistema`,
                    variant: variant.toast,
                    solid: true
                })
            },
            buscar: function (item) {
                if (this.filter.length > 7) {
                    axios.post(this.SERVER_URL + '/api/Enlace/ClienteCAE', {
                        ID: this.ID,
                        CONTENIDO: this.filter,
                        ID_USUARIO: this.ID_USUARIO,
                        ID_SEDE: this.ID_SEDE,
                        TIPO: 15,
                    }).then(response => {
                            this.ListaGrilla = response.data;
                        //alert(JSON.stringify(this.ListaGrilla));
                        
                    }).catch(e => {
                        this.mostrarToast({ toast: 'warning', msg: 'Error en la conexión ...' });
                    });
                } 
            }
        }
    })
</script>

