
@{
    string Title = "Preventiva OUT";
    ViewBag.Title = Title;
}

<div id="app">
    <div class="containerClaro">
        <br />
        <div class="row">
            <div class="col-sm-12 col-lg-12" v-if="ID == 0">
                <div class="row">
                    <div class="col-xs-3 col-md-3"></div>
                    <div class="col-xs-9 col-md-9">
                        <div class="card redondoCardLight  cajaGrisClaroDelgado">
                            <div class="card-body">
                                <div class="row bg-info">
                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                        <div class="card-title  text-left text-white">
                                            <br /><h3>{{PAGINA}}</h3>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                        <div class="card-title  text-right text-white">
                                            <br /><span> <b-avatar button icon="alarm" size="3rem" variant="light"></b-avatar></span><span>&nbsp;&nbsp;&nbsp;Tiempo: </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <br />
                                    <template>
                                        <b-container fluid>
                                            <!-- User Interface controls -->
                                            <b-row>
                                                <b-col lg="6" class="my-1">
                                                    <b-form-group label="Buscar"
                                                                  label-for="filter-input"
                                                                  label-cols-sm="3"
                                                                  label-align-sm="right"
                                                                  label-size="sm"
                                                                  class="mb-0">
                                                        <b-input-group size="sm">
                                                            <b-form-input id="filter-input"
                                                                          v-model="filter"
                                                                          type="search"
                                                                          v-on:keyup="buscar()"
                                                                          placeholder="Número"></b-form-input>

                                                            <b-input-group-append>
                                                                <b-button :disabled="!filter" @@click="filter = '', buscar()">Limpiar</b-button>
                                                            </b-input-group-append>
                                                        </b-input-group>
                                                    </b-form-group>
                                                </b-col>
                                                <b-col lg="6" class="my-1">
                                                    <b-form-group label="Registra nuevo"
                                                                  description=""
                                                                  label-cols-sm="3"
                                                                  label-align-sm="right"
                                                                  label-size="sm"
                                                                  class="mb-0">
                                                        <b-avatar v-on:click="activarPreventiva(0, 0, '')" title="Editar" button icon="pencil-square" size="2rem" variant="light" class="align-center btn-outline-info"></b-avatar>
                                                    </b-form-group>
                                                </b-col>

                                            </b-row>
                                            <!-- Main table element -->
                                            <b-row style=" height: 600px; overflow: scroll; ">
                                                <b-table :items="Lista"
                                                         :current-page="currentPage"
                                                         :per-page="perPage"
                                                         stacked="md"
                                                         head-variant="light"
                                                         show-empty
                                                         sticky-header
                                                         small
                                                         @@filtered="onFiltered">
                                                    <template #cell(name)="row">
                                                        {{ row.value.first }} {{ row.value.last }}
                                                    </template>

                                                    <template #cell(ACCIONES)="row">
                                                        <b-avatar v-on:click="activarPreventiva(row.item, row.index, $event.target)" title="Iniciar" button icon="pencil-square" size="2rem" variant="light" class="align-center btn-outline-info"></b-avatar>
                                                    </template>
                                                </b-table>
                                            </b-row>
                                            <br />

                                            <!-- User Interface controls -->
                                            <b-row>
                                                <b-col sm="5" md="6" class="my-1">
                                                    <b-form-group label="Per page"
                                                                  label-for="per-page-select"
                                                                  label-cols-sm="6"
                                                                  label-cols-md="4"
                                                                  label-cols-lg="3"
                                                                  label-align-sm="right"
                                                                  label-size="sm"
                                                                  class="mb-0">
                                                        <b-form-select id="per-page-select"
                                                                       v-model="perPage"
                                                                       :options="pageOptions"
                                                                       size="sm"></b-form-select>
                                                    </b-form-group>
                                                </b-col>

                                                <b-col sm="7" md="6" class="my-1">
                                                    <b-pagination v-model="currentPage"
                                                                  :total-rows="totalRows"
                                                                  :per-page="perPage"
                                                                  align="fill"
                                                                  size="sm"
                                                                  class="my-0"></b-pagination>
                                                </b-col>
                                            </b-row>


                                        </b-container>
                                    </template>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-lg-12" v-else="ID == 0">
                <div class="row">
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <div class="card redondoCardLight  cajaGrisClaroDelgado ">
                            <div class="card-header bg-danger">
                                <div class="card-title text-center text-white">
                                    <i class="fas fa-address-card fa-2x"></i>&nbsp;&nbsp;&nbsp;<strong class="text-center">DATOS</strong>
                                    <b-button variant="danger">
                                        ID - {{ID}}
                                    </b-button>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">SN</label>
                                    <div class="col-sm-7">
                                        <input v-model="SN" type="tel" maxlength="16" class="form-control" :state="false" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" />
                                    </div>
                                    <div class="col-sm-1">
                                        <p v-if="SN.length < 16"><span class="badge badge-danger"> ! </span></p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Contacto</label>
                                    <div class="col-sm-7">
                                        <select v-model="CONTACTO" class="form-control" v-on:change="cargarDropdow(CONTACTO)">
                                            <option v-for="item in Lista60" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                                {{ item.VALUE }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1">
                                        <p v-if="CONTACTO == 'SELECCIONAR'"><span class="badge badge-danger"> ! </span></p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Customer ID</label>
                                    <div class="col-sm-7">
                                        <input v-model="CUSTOMER_ID" type="tel" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" maxlength="8" required="" />
                                    </div>
                                    <div class="col-sm-1">
                                        <p v-if="CUSTOMER_ID.length < 7"><span class="badge badge-danger"> ! </span></p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Teléfono</label>
                                    <div class="col-sm-7">
                                        <input v-model="TELEFONO" type="tel" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" maxlength="9" required="" />
                                    </div>
                                    <div class="col-sm-1">
                                        <p v-if="TELEFONO.length < 7"><span class="badge badge-danger"> ! </span></p>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Tipo Gestión</label>
                                    <div class="col-sm-7">
                                        <select v-model="TIPO_GESTION" class="form-control" v-on:change="cargarDropdow(TIPO_GESTION)">
                                            <option v-for="item in Lista19" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                                {{ item.VALUE }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1">
                                        <p v-if="TIPO_GESTION == 'SELECCIONAR'"><span class="badge badge-danger"> ! </span></p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Calificación</label>
                                    <div class="col-sm-7">
                                        <select v-model="CALIFICACION" class="form-control" v-on:change="calificar(CALIFICACION)">
                                            <option v-for="item in Lista26" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO, SPEECH: item.SPEECH }">
                                                {{ item.VALUE }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-1">
                                        <p v-if="CALIFICACION == 'SELECCIONAR'"><span class="badge badge-danger"> ! </span></p>
                                    </div>
                                </div>
                                <div v-if="CALIFICACION != 'SELECCIONAR'" class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Conformidad</label>
                                    <div class="col-sm-7">
                                        <input v-model="CONFORMIDAD" type="tel" readonly="true" class="form-control" />
                                    </div>
                                </div>

                                <template v-if="Lista50.length >= 1">
                                    <hr />
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Motivo</label>
                                        <div class="col-sm-7">
                                            <select v-model="MOTIVO" class="form-control" v-on:change="cargarDropdow(MOTIVO)">
                                                <option v-for="item in Lista50" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                                    {{ item.VALUE }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-1">
                                            <p v-if="MOTIVO == 'SELECCIONAR'"><span class="badge badge-danger"> ! </span></p>
                                        </div>
                                    </div>

                                    <div v-if="Lista51.length >= 1" class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Motivo 1</label>
                                        <div class="col-sm-7">
                                            <select v-model="MOTIVO_1" class="form-control" v-on:change="cargarDropdow(MOTIVO_1)">
                                                <option v-for="item in Lista51" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                                    {{ item.VALUE }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-1">
                                            <p v-if="MOTIVO_1 == 'SELECCIONAR'"><span class="badge badge-danger"> ! </span></p>
                                        </div>
                                    </div>


                                    <div v-if="Lista52.length >= 1" class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Motivo 2</label>
                                        <div class="col-sm-7">
                                            <select v-model="MOTIVO_2" class="form-control" v-on:change="cargarDropdow(MOTIVO_2)">
                                                <option v-for="item in Lista52" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                                    {{ item.VALUE }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-1">
                                            <p v-if="MOTIVO_2 == 'SELECCIONAR'"><span class="badge badge-danger"> ! </span></p>
                                        </div>
                                    </div>

                                    <div v-if="Lista53.length >= 1" class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Motivo 3</label>
                                        <div class="col-sm-7">
                                            <select v-model="MOTIVO_3" class="form-control" v-on:change="cargarDropdow(MOTIVO_3)">
                                                <option v-for="item in Lista53" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                                    {{ item.VALUE }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-1">
                                            <p v-if="MOTIVO_3 == 'SELECCIONAR'"><span class="badge badge-danger"> ! </span></p>
                                        </div>
                                    </div>

                                    <div v-if="Lista54.length >= 1" class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Motivo 4</label>
                                        <div class="col-sm-7">
                                            <select v-model="MOTIVO_4" class="form-control" v-on:change="cargarDropdow(MOTIVO_4)">
                                                <option v-for="item in Lista54" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                                    {{ item.VALUE }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-1">
                                            <p v-if="MOTIVO_4 == 'SELECCIONAR'"><span class="badge badge-danger"> ! </span></p>
                                        </div>
                                    </div>

                                    <div v-if="Lista55.length >= 1" class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Motivo 5</label>
                                        <div class="col-sm-7">
                                            <select v-model="MOTIVO_5" class="form-control" v-on:change="cargarDropdow(MOTIVO_5)">
                                                <option v-for="item in Lista55" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                                    {{ item.VALUE }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-1">
                                            <p v-if="MOTIVO_5 == 'SELECCIONAR'"><span class="badge badge-danger"> ! </span></p>
                                        </div>
                                    </div>

                                </template>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-3">
                        <template v-if="MOTIVO_2.VALUE =='ACEPTA TEST DE VELOCIDAD' || MOTIVO_3.VALUE =='ACEPTA TEST DE VELOCIDAD' || MOTIVO_4.VALUE =='ACEPTA TEST DE VELOCIDAD'">
                            <div class="card redondoCardLight  cajaGrisClaroDelgado ">
                                <div class="card-header bg-danger">
                                    <div class="card-title text-center text-white">
                                        <i class="fas fa-tag fa-2x"></i>&nbsp;&nbsp;&nbsp;<strong>TEST DE VELOCIDAD...</strong>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Mb</label>
                                        <div class="col-sm-7">
                                            <select v-model="VELOCIDAD" class="form-control" v-on:change="testVelocidad()">
                                                <option v-for="item in Lista36" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                                    {{ item.VALUE }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-1">
                                            <p v-if="VELOCIDAD == 'SELECCIONAR'"><span class="badge badge-danger"> ! </span></p>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Rango</label>
                                        <div class="col-sm-7">
                                            <select v-model="RANGO" class="form-control" v-on:change="testVelocidad()">
                                                <option v-for="item in Lista37" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                                    {{ item.VALUE }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-1">
                                            <p v-if="RANGO == 'SELECCIONAR'"><span class="badge badge-danger"> ! </span></p>
                                        </div>
                                    </div>
                                    <div v-if="VELOCIDAD != 'SELECCIONAR'  && RANGO != 'SELECCIONAR'" class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Rango Velocidad</label>
                                        <div class="col-sm-7">
                                            <input v-model="RANGO_VELOCIDAD" type="tel" readonly="true" class="form-control" />
                                        </div>
                                    </div>
                                    <template v-if="RANGO_VELOCIDAD == 'ENTRE 40% Y 70%' || RANGO_VELOCIDAD == 'MENOS DE 40%'">
                                        <div class="form-group row">
                                            <label for="inputEmail3" class="col-sm-4 col-form-label">Cantidad de Equipos Conectados</label>
                                            <div class="col-sm-7">
                                                <select v-model="CANTIDAD_EQUIPOS" class="form-control" v-on:change="rangoVelocidad(CANTIDAD_EQUIPOS)">
                                                    <option v-for="item in Lista38" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO, SPEECH: item.SPEECH }">
                                                        {{ item.VALUE }}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="col-sm-1">
                                                <p v-if="CANTIDAD_EQUIPOS == 'SELECCIONAR'"><span class="badge badge-danger"> ! </span></p>
                                            </div>
                                        </div>
                                    </template>

                                </div>
                            </div>
                            <br />
                        </template>

                        <template v-if="RANGO_VELOCIDAD == 'ENTRE 40% Y 70%' || RANGO_VELOCIDAD == 'MENOS DE 40%'">
                            <div class="card redondoCardLight  cajaGrisClaroDelgado ">
                                <div class="card-header bg-danger">
                                    <div class="card-title text-center text-white">
                                        <i class="fas fa-tag fa-2x"></i>&nbsp;&nbsp;&nbsp;<strong>ACTUALIZACIÓN DE PLAN</strong>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Plan actualizado</label>
                                        <div class="col-sm-7">
                                            <select v-model="PLAN_ACTUALIZADO" class="form-control" v-on:change="cargarDropdow(PLAN_ACTUALIZADO)">
                                                <option v-for="item in Lista61" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                                    {{ item.VALUE }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-1">
                                            <p v-if="PLAN_ACTUALIZADO == 'SELECCIONAR'"><span class="badge badge-danger"> ! </span></p>
                                        </div>
                                    </div>

                                    <div v-if="Lista62.length >= 1" class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Acepta Upgrade?</label>
                                        <div class="col-sm-7">
                                            <select v-model="ACEPTA_UPGRADE" class="form-control" v-on:change="cargarDropdow(ACEPTA_UPGRADE)">
                                                <option v-for="item in Lista62" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                                    {{ item.VALUE }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-1">
                                            <p v-if="ACEPTA_UPGRADE == 'SELECCIONAR'"><span class="badge badge-danger"> ! </span></p>
                                        </div>
                                    </div>

                                    <div v-if="Lista63.length >= 1" class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Motivo No</label>
                                        <div class="col-sm-7">
                                            <select v-model="MOTIVO_NO_UPGRADE" class="form-control" v-on:change="cargarDropdow(MOTIVO_NO_UPGRADE)">
                                                <option v-for="item in Lista63" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                                    {{ item.VALUE }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-1">
                                            <p v-if="MOTIVO_NO_UPGRADE == 'SELECCIONAR'"><span class="badge badge-danger"> ! </span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                        </template>

                        <template>
                            <div class="card redondoCardLight  cajaGrisClaroDelgado ">
                                <div class="card-header bg-danger">
                                    <div class="card-title text-center text-white">
                                        <i class="fas fa-tag fa-2x"></i>&nbsp;&nbsp;&nbsp;<strong>CONECTA, IDENTIFICA Y RESUELVE</strong>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Resultado de Conformidad</label>
                                        <div class="col-sm-7">
                                            <select v-model="RESULTADO" class="form-control" v-on:change="calcular()">
                                                <option v-for="item in Lista40" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                                    {{ item.VALUE }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-1">
                                            <p v-if="RESULTADO == 'SELECCIONAR'"><span class="badge badge-danger"> ! </span></p>
                                        </div>
                                    </div>
                                    <div v-if="CALIFICACION != 'SELECCIONAR' && RESULTADO != 'SELECCIONAR'" class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Resultado final</label>
                                        <div class="col-sm-7">
                                            <input v-model="RESULTADO_FINAL" readonly="true" type="tel" class="form-control" />
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Responsabilidad</label>
                                        <div class="col-sm-7">
                                            <select v-model="RESPONSABILIDAD" class="form-control" v-on:change="responsabilidad(RESPONSABILIDAD)">
                                                <option v-for="item in Lista41" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO, SPEECH: item.SPEECH }">
                                                    {{ item.VALUE }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-1">
                                            <p v-if="RESPONSABILIDAD == 'SELECCIONAR'"><span class="badge badge-danger"> ! </span></p>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Full Claro</label>
                                        <div class="col-sm-7">
                                            <select v-model="FULL_CLARO" class="form-control" v-on:change="cargarDropdow(FULL_CLARO)">
                                                <option v-for="item in Lista70" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                                    {{ item.VALUE }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-1">
                                            <p v-if="FULL_CLARO == 'SELECCIONAR'"><span class="badge badge-danger"> ! </span></p>
                                        </div>
                                    </div>

                                    <div v-if="Lista71.length >= 1" class="form-group row">
                                        <label for="inputEmail3" class="col-sm-4 col-form-label">Motivo</label>
                                        <div class="col-sm-7">
                                            <select v-model="MOTIVO_FULL_CLARO" class="form-control" v-on:change="cargarDropdow(MOTIVO_FULL_CLARO)">
                                                <option v-for="item in Lista71" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                                    {{ item.VALUE }}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-1">
                                            <p v-if="MOTIVO_FULL_CLARO == 'SELECCIONAR'"><span class="badge badge-danger"> ! </span></p>
                                        </div>
                                    </div>

                                    <template v-if="RESULTADO.VALUE =='EN PROCESO' ">
                                        <br />
                                        <hr />
                                        <div class="form-group row">

                                            <div class="col-sm-8">
                                                <label for="datepicker-invalid">Fecha agenda:   día</label>
                                                <b-form-datepicker id="datepicker-invalid" v-model="FECHA_DIA"
                                                                   :min="min" :max="max" locale="es" :state="false" class="mb-2"
                                                                   :date-format-options="{ year: 'numeric', month: 'short', day: '2-digit', weekday: 'short' }"></b-form-datepicker>
                                            </div>
                                            <div class="col-sm-3">
                                                <label for="datepicker-invalid">hora</label>
                                                <select v-model="FECHA_HORA" class="form-control">
                                                    <option value="SELECCIONAR">SELECCIONAR</option>
                                                    <option v-for="Hor in Lista20" v-bind:value="Hor.VALUE">
                                                        {{ Hor.VALUE }}
                                                    </option>
                                                </select>
                                            </div>
                                        </div>

                                        @*<div class="form-group row">
                                                <label for="inputEmail3" class="col-sm-4 col-form-label">Fecha agenda</label>
                                                <div class="col-sm-5">
                                                    <input v-model="FECHA_DIA" type="date" class="form-control" />
                                                </div>
                                                <div class="col-sm-3">
                                                    <select v-model="FECHA_HORA" class="form-control">
                                                        <option value="SELECCIONAR">SELECCIONAR</option>
                                                        <option v-for="Hor in Lista20" v-bind:value="Hor.VALUE">
                                                            {{ Hor.VALUE }}
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>*@
                                    </template>

                                    <br />
                                    <div class="form-group row">
                                        <div class="col-sm-11">
                                            <label class="col-form-label">Observación</label>
                                            <textarea class="form-control" v-model="OBSERVACION" rows="4"></textarea>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </template>
                    </div>

                    <div class="col-sm-12 col-md-12 col-lg-6">
                        <div class="card redondoCardLight  cajaGrisClaroDelgado ">
                            <div class="card-header bg-danger">
                                <div class="card-title text-center text-white">
                                    <i class="fas fa-child  fa-2x"></i>&nbsp;&nbsp;&nbsp;<strong>OFRECIMIENTOS</strong>
                                </div>
                            </div>
                            <div class="card-body">
                                <template>
                                    <b-alert show variant="info">
                                        <div class="row">
                                            <div class="col-2 text-center">
                                                <br />
                                                <b-avatar class="text-center" button icon="exclamation-octagon" size="4rem" variant="info"></b-avatar>
                                            </div>
                                            <div class="col-10">
                                                <b>OFRECIMIENTO OBLIGATORIO:</b>   <br />
                                                1. ACTIVACION FULL CLARO <br />
                                                2. MIGRACION A FULL CLARO <br />
                                                3.CAMBIO DE ROUTER (SEGÚN VELOCIDAD) <br /><br />

                                                <b>RECUERDA:</b>   <br />
                                                Tipificar los datos correctamente (SN, ID, Numero de referencia).<br />
                                                Tipificar los ofrecimientos (Solución / Arma).<br />
                                            </div>
                                        </div>
                                    </b-alert>
                                </template>
                                <template v-if="MOTIVO.VALUE =='ATENCIÓN TECNICA' ">
                                    <b-alert show variant="info">
                                        <div class="row">
                                            <div class="col-2 text-center">
                                                <br />
                                                <b-avatar class="text-center" button icon="exclamation-octagon" size="4rem" variant="info"></b-avatar>
                                            </div>
                                            <div class="col-10">
                                                <b>RECOMENDACIONES:</b>   <br />
                                                <ul>
                                                    <li>No compartas tu clave Wi-Fi. Las conexiones no deseadas reducen drásticamente la velocidad de tu Internet.</li>
                                                    <li>Reiniciar tu Wi-Fi y dispositivos periódicamente, ayuda a liberar memoria y finalizar tareas y funciones pendientes que ponen lenta la conexión.</li>
                                                    <li>Revisa la ubicación y distancia de los dispositivos Wi-Fi. Recuerda que tienen alcance limitado y a mayor distancia, menos velocidad alcanzarán</li>
                                                </ul>
                                                <b>ADQUIRIR ACCESORIOS :</b>  <br />
                                                Por ultimo , le sugerimos ampliar su cobertura de wifi con los dispositivos de tecnologia MESH , que ayudan a la estabilidad y velocidad de su servicio. Claro tiene los siguientes planes
                                                (Vender router MESH)
                                            </div>
                                        </div>
                                    </b-alert>
                                </template>
                                <template v-if="MOTIVO_3.VALUE == 'NO ACEPTA TEST DE VELOCIDAD' ">
                                    <b-alert show variant="danger">
                                        <div class="row">
                                            <div class="col-2 text-center">
                                                <br />
                                                <b-avatar class="text-center" button icon="exclamation-octagon" size="4rem" variant="info"></b-avatar>
                                            </div>
                                            <div class="col-10">
                                                <b>RECOMENDACIONES:</b>   <br />
                                                Estimado cliente, dado que no es posible hacer el descarte, le ofrezco derivar su caso con el area de RED para que realice un monitoreo de su servicio.  En el plazo de 48h me estare conmunicando  a las XX. <br />
                                            </div>
                                        </div>
                                    </b-alert>
                                </template>

                                <template v-if="SPEECH != ''">
                                    <b-alert show variant="warning">
                                        <div class="row">
                                            <div class="col-2 text-center">
                                                <br />
                                                <b-avatar class="text-center" button icon="exclamation-octagon" size="4rem" variant="warning"></b-avatar>
                                            </div>
                                            <div class="col-10">
                                                <b>RECOMENDACIONES:</b><br />
                                                {{SPEECH}}
                                            </div>
                                        </div>
                                    </b-alert>
                                </template>
                                <template v-if="ListaSolucion.length>0">
                                    <div class="row">
                                        <div v-for="item in ListaSolucion" class="col-xs-12 col-sm-4 ">

                                            <template v-if="item.ID_GRUPO == '1'">
                                                <b-card bg-variant="info" text-variant="white" v-bind:header="item.OFRECIMIENTO" class="text-center" style="height: 130px; overflow:hidden;">
                                                    <div style="height: 75px; overflow:hidden;">
                                                        <div class="row">
                                                            <div class="col-xs-8 col-sm-8">
                                                                <span style="font-size:9px;" v-bind:title="item.GESTION">{{item.GESTION}}</span>
                                                            </div>
                                                            <div class="col-xs-2 col-sm-2">
                                                                @*<span class="text-white" style="font-size: 7px">.</span>*@
                                                                <span class="btn btn-link text-dark text-left" style="margin-left:-30px" v-b-tooltip.hover v-bind:title="item.GESTION">
                                                                    <span class="badge badge-light text-black-50" style="font-size: 8px; height: 9px;">Ver</span>
                                                                    <b-avatar @@click="$bvToast.show('example-toast')" button icon="search" size="2rem" variant="light"></b-avatar>
                                                                </span>
                                                            </div>
                                                            <div class="col-xs-2 col-sm-2">
                                                                @*<span class="text-white" style="font-size: 7px">.</span>*@

                                                                <span class="btn btn-link text-dark text-left" style="margin-left:-30px" title="Eliminar" v-on:click="eliminarOfrecimiento( {ID: item.ID, VALUE: item.OFRECIMIENTO })">
                                                                    <span class="badge badge-light text-black-50" style="font-size: 8px; height: 9px;">Borrar</span>
                                                                    <b-avatar v-on:click="eliminarOfrecimiento( {ID: item.ID, VALUE: item.OFRECIMIENTO } )" button icon="trash" size="2rem" variant="light"></b-avatar>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </b-card>
                                            </template>
                                            <template v-else="item.ID_GRUPO == '1'">
                                                <b-card bg-variant="danger" text-variant="white" v-bind:header="item.OFRECIMIENTO" class="text-center" style="height: 130px; overflow:hidden;">
                                                    <div style="height: 75px; overflow:hidden;">
                                                        <div class="row">
                                                            <div class="col-xs-8 col-sm-8">
                                                                <span style="font-size:9px;" v-bind:title="item.GESTION">{{item.GESTION}}</span>
                                                            </div>
                                                            <div class="col-xs-2 col-sm-2">
                                                                @*<span class="text-white" style="font-size: 7px">.</span>*@
                                                                <span class="btn btn-link text-dark text-left" style="margin-left:-30px" v-b-tooltip.hover v-bind:title="item.GESTION">
                                                                    <span class="badge badge-light text-black-50" style="font-size: 8px; height: 9px;">Ver</span>
                                                                    <b-avatar button icon="search" size="2rem" variant="light"></b-avatar>
                                                                </span>
                                                            </div>
                                                            <div class="col-xs-2 col-sm-2">
                                                                @*<span class="text-white" style="font-size: 7px">.</span>*@

                                                                <span class="btn btn-link text-dark text-left" style="margin-left:-30px" title="Eliminar" v-on:click="eliminarOfrecimiento( {ID: item.ID, VALUE: item.OFRECIMIENTO })">
                                                                    <span class="badge badge-light text-black-50" style="font-size: 8px; height: 9px;">Borrar</span>
                                                                    <b-avatar v-on:click="eliminarOfrecimiento( {ID: item.ID, VALUE: item.OFRECIMIENTO } )" button icon="trash" size="2rem" variant="light"></b-avatar>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </b-card>
                                            </template>
                                        </div>
                                    </div>
                                </template>

                                @*<template >
                                        <hr />
                                        <div class="row">
                                            <div v-for="item in ListaSolucion" class="col-xs-12 col-sm-4 ">
                                                <div class="card redondoCardLight  cajaGrisClaroDelgado">
                                                    <div >

                                                        <div v-if="item.ID_GRUPO== '1'" class="row bg-info" style="height: 45px; overflow:hidden;">
                                                            <div class="col-xs-12 col-sm-12">
                                                                <p class="text-white" style="font-size:7px">.</p>
                                                                <p class="text-white" style="">{{item.OFRECIMIENTO}}</p>
                                                            </div>
                                                        </div>
                                                        <div v-else="item.ID_GRUPO== '1'" class="row bg-danger" style="height: 45px; overflow:hidden;">
                                                            <div class="col-xs-12 col-sm-12">
                                                                <p class="text-white" style="font-size:7px">.</p>
                                                                <p class="text-white">{{item.OFRECIMIENTO}}</p>
                                                            </div>
                                                        </div>

                                                        <div style="height: 85px; overflow:hidden;">
                                                            <div class="row">
                                                                <div class="col-xs-10 col-sm-10">
                                                                    <span style="font-size:10px;" v-bind:title="item.GESTION">{{item.GESTION}}</span>
                                                                </div>
                                                                <div class="col-xs-2 col-sm-2">
                                                                    <span class="text-white" style="font-size: 7px">.</span>
                                                                    <span class="btn btn-link text-dark text-left" style="margin-left:-30px" title="Eliminar" v-on:click="eliminarOfrecimiento( {ID: item.ID, VALUE: item.OFRECIMIENTO })">
                                                                        <span class="badge badge-light text-black-50" style="font-size: 9px; height: 10px;">Borrar</span>
                                                                        <b-avatar v-on:click="eliminarOfrecimiento( {ID: item.ID, VALUE: item.OFRECIMIENTO } )" button icon="trash" size="3rem" variant="light"></b-avatar>
                                                                    </span>

                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                </div><br />
                                            </div>
                                        </div>
                                    </template>*@

                            </div>
                        </div>

                    </div>

                </div>

                <div class="card redondoCardLight  cajaGrisClaroDelgado text-center" style=" position: fixed; bottom: 50px;right: 50px; z-index:10">
                    <div class="card-body">

                        <span class="btn btn-link text-dark" style="width:70px" title="Ofrecimiento - Solución" v-on:click="abrirOfrecimientos({Ofrecimiento:'SOLUCION' })">
                            <span class="badge badge-light text-black-50" style="font-size: 11px; height: 11px; margin-top: -30px;  z-index: 10;">Solución</span>
                            <i class="fas fa-book-medical fa-3x"></i>
                        </span>

                        <span class="btn btn-link text-dark" style="width:70px" title="Ofrecimiento - Arma" v-on:click="abrirOfrecimientos({Ofrecimiento:'ARMA' })">
                            <span class="badge badge-light text-black-50" style="font-size: 11px; height: 11px; margin-top: -30px;  z-index: 10;">Arma</span>
                            <i class="fas fa-book-medical fa-3x"></i>
                        </span>


                        <span class="btn btn-link text-dark" style="width:70px" title="Copiar al portapapeles" v-on:click="copiarPortaPreventiva">
                            <span class="badge badge-light text-black-50" style="font-size: 11px; height: 11px; margin-top: -30px;  z-index: 10;">Copiar</span>
                            <i class="fas fa-copy fa-3x"></i>
                        </span><span class="badge badge-info"></span>
                        <span class="btn btn-link text-dark" style="width:70px" title="Guardar" v-on:click="guardar">
                            <span class="badge badge-light text-black-50" style="font-size: 11px; height: 11px; margin-top: -30px;  z-index: 10;">Guardar</span>
                            <i class="fas fa-save fa-3x"></i>
                        </span><span class="badge badge-info"></span>


                    </div>
                </div>
            </div>

        </div>
    </div>

    <b-modal id="formularioOfrecimiento" size="xl" title="Ofrecimientos" hide-footer>
        <div class="containerClaro">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-4 col-form-label">{{MensajeSistema}}</label>
                        <div class="col-sm-7">
                            <select v-model="OFRECIMIENTO" class="form-control">
                                <option value="SELECCIONAR">SELECCIONAR</option>
                                <option v-for="item in Lista21" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO, SPEECH: item.SPEECH }">
                                    {{ item.VALUE }}
                                </option>
                            </select>
                        </div>
                        <div class="col-sm-1">
                            <p v-if="OFRECIMIENTO == 'SELECCIONAR'"><span class="badge badge-danger">!</span></p>
                        </div>
                    </div>
                    <template v-if="OFRECIMIENTO.SPEECH == 'SI'">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">GESTIÓN</label>
                            <div class="col-sm-7">
                                <select v-model="GESTION" class="form-control" v-on:change="validarCampoGestion(GESTION)">
                                    <option value="SELECCIONAR">SELECCIONAR</option>
                                    <option v-for="item in Lista25" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO, SPEECH: item.SPEECH }">
                                        {{ item.VALUE }}
                                    </option>
                                </select>
                            </div>
                            <div class="col-sm-1">
                                <p v-if="GESTION == 'SELECCIONAR'"><span class="badge badge-danger">!</span></p>
                            </div>
                        </div>
                        <div v-if="GESTION.SPEECH =='SI'" class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">{{GESTION.VALUE}}</label>
                            <div class="col-sm-7">
                                <input v-model="VARIABLE" maxlength="8" type="tel" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" maxlength="8" required="" />
                            </div>
                            <div class="col-sm-1">
                                <p v-if="VARIABLE.length < 8"><span class="badge badge-danger">!</span></p>
                            </div>
                        </div>
                    </template>


                </div>
                <div class="col-xs-12 col-md-6 text-center">
                    <div class="form-group text-center">
                        <a class="btn btn-dark rounded-pill text-white text-center" v-on:click="registrarOfrecimiento">GUARDAR</a>
                    </div>
                </div>

                <div class="col-xs-12 col-md-12">
                    <template v-if="OFRECIMIENTO.VALUE == 'REPETIDOR MESH'">
                        <p class="text-danger" v-if="mensaje.length > 36">

                            {{mensaje}}
                        </p>
                        <hr />
                        <div class="row">
                            @*description="We'll never share your email with anyone else."*@
                            <div class="col-xs-12 col-sm-6">
                                <b-form-group label="Kit de cliente:">
                                    <b-form-input v-model="KitCliente" type="tel" class="form-control"></b-form-input>
                                </b-form-group>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <b-form-group label="Costo:">
                                    <b-form-input v-model="Costo" type="tel" placeholder="0.00" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" maxlength="8" required=""></b-form-input>
                                </b-form-group>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <b-form-group label="Av/Calle/Jr:">
                                    <select v-model="ComboAv" class="form-control">
                                        <option value="SELECCIONAR">SELECCIONAR</option>
                                        <option v-for="item in Lista30" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                            {{ item.VALUE }}
                                        </option>
                                    </select>
                                </b-form-group>
                                <b-form-group label="Mz/Bloq/Edif:">
                                    <select v-model="ComboMz" class="form-control">
                                        <option value="SELECCIONAR">SELECCIONAR</option>
                                        <option v-for="item in Lista31" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                            {{ item.VALUE }}
                                        </option>
                                    </select>
                                </b-form-group>

                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <b-form-group label="Nombre de la Via:">
                                    <b-form-input v-model="NombreVia" type="tel" class="form-control" required=""></b-form-input>
                                </b-form-group>
                                <b-form-group label="Mz/Bloque/Lote:">
                                    <b-form-input v-model="Mz" type="tel" placeholder=" (opcional) " class="form-control" required=""></b-form-input>
                                </b-form-group>

                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <b-form-group label="Número:">
                                    <b-form-input v-model="Numero" type="tel" placeholder="S/N" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" maxlength="8" required=""></b-form-input>
                                </b-form-group>
                                <b-form-group label="Lote:">
                                    <b-form-input v-model="Lte" type="tel" placeholder=" (opcional) " class="form-control" required=""></b-form-input>
                                </b-form-group>


                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-8">
                                <b-form-group label="Dirección de entrega:">
                                    <b-form-input v-model="DireccionEntrega" type="tel" class="form-control" required=""></b-form-input>
                                </b-form-group>
                                <b-form-group label="Referencia:">
                                    <b-form-input v-model="Referencia" type="tel" class="form-control" required=""></b-form-input>
                                </b-form-group>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <b-form-group label="Teléfono Ref. 1:">
                                    <b-form-input v-model="TelRef1" type="tel" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" maxlength="8" required=""></b-form-input>
                                </b-form-group>
                                <b-form-group label="Teléfono Ref. 2:">
                                    <b-form-input v-model="TelRef2" type="tel" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" maxlength="8" required=""></b-form-input>
                                </b-form-group>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <b-form-group label="Departamento:">
                                    <select v-model="ComboDepartamento" class="form-control" v-on:change="cargarDropdow(ComboDepartamento)">
                                        <option value="SELECCIONAR">SELECCIONAR</option>
                                        <option v-for="item in Lista32" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                            {{ item.VALUE }}
                                        </option>
                                    </select>
                                </b-form-group>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <b-form-group label="Provincia:">
                                    <select v-model="ComboProvincia" class="form-control" v-on:change="cargarDropdow(ComboProvincia)">
                                        <option value="SELECCIONAR">SELECCIONAR</option>
                                        <option v-for="item in Lista33" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                            {{ item.VALUE }}
                                        </option>
                                    </select>
                                </b-form-group>
                            </div>
                            <div class="col-xs-12 col-sm-4">
                                <b-form-group label="Distrito:">
                                    <select v-model="ComboDistrito" class="form-control">
                                        <option value="SELECCIONAR">SELECCIONAR</option>
                                        <option v-for="item in Lista34" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                            {{ item.VALUE }}
                                        </option>
                                    </select>
                                </b-form-group>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-4">
                                <b-form-group label="Tipo de pago:">
                                    <select v-model="ComboTipoPago" class="form-control">
                                        <option value="SELECCIONAR">SELECCIONAR</option>
                                        <option v-for="item in Lista35" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                            {{ item.VALUE }}
                                        </option>
                                    </select>
                                </b-form-group>
                            </div>
                            <div class="col-xs-12 col-sm-8">
                                <b-form-group label="Observaciones:">
                                    <b-form-input v-model="ObsMesh" type="tel" class="form-control" required=""></b-form-input>
                                </b-form-group>
                            </div>
                        </div>
                    </template>

                    <template v-if="OFRECIMIENTO.VALUE=='REFINANCIAMIENTO DE DEUDA'">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Campo calculadora</label>
                            <div class="col-sm-8">
                                <input v-model="CampoCalculadora" type="text" class="form-control" />
                            </div>
                        </div>
                        @*<div>
                                <b-embed type="iframe"
                                         aspect="16by9"
                                         src="~/GestionRefinanciamiento"
                                         allowfullscreen></b-embed>
                            </div>*@
                    </template>

                    <template v-if="OFRECIMIENTO.VALUE=='ACTIVACIÓN DE SERVICIO DE VALOR AGREGADO'">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">SVA</label>
                            <div class="col-sm-8">
                                <input v-model="SVA" type="text" class="form-control" />
                            </div>
                        </div>
                    </template>
                    <template v-if="OFRECIMIENTO.VALUE=='CAMBIO DE TIPO DE CLIENTE'">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-12 col-form-label">
                                PLANTILLA DE GESTIÓN
                                *Nuevo Plan a migrar (Claro Empresas o Masivo):
                                *Solicita Servicios de Valor Agregado (En caso sea de Masivo a CE, especificar):
                                *Total del Nuevo Cargo Fijo (de acuerdo a la nueva oferta comercial + los servicios de valor agregado):
                                *Nombres/Razón Social:
                                *DNI:
                                *Dirección Completa (Tipo vía/Nombre vía/N°/Urbanización/Distrito/Dpto./Provincia):
                                *Referencia de la Dirección:
                                *Teléfonos de Referencia:
                                *Fecha y hora de disponibilidad del Cliente:
                                *Cliente Afiliado al Débito Automático (SI/NO):
                                *Tipo Tope de Consumo (Aplica/No)
                                *Ciclo de Facturación actual:
                                *Preselección de LD (Aplica/No):
                                *Tipo de envío del recibo:
                                *Publicar Número en Guía de Abonado (En caso el servicio tenga telefonía fija):
                                Observacion: Escenario con plan especial por retencion"

                                *FECHA Y HORA DE LA PROGRAMACIÓN (REFERENCIAL):
                            </label>
                        </div>
                    </template>
                    <template v-if="OFRECIMIENTO.VALUE == 'CAMBIO DE PLAN'">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Tipo Migración</label>
                            <div class="col-sm-8">
                                <select v-model="TipoMigracion" class="form-control">
                                    <option value="SELECCIONAR">SELECCIONAR</option>
                                    <option v-for="item in Lista8" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                        {{ item.VALUE }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Tipo Play</label>
                            <div class="col-sm-8">
                                <select v-model="TipoPlay" class="form-control">
                                    <option value="SELECCIONAR">SELECCIONAR</option>
                                    <option v-for="item in Lista18" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                        {{ item.VALUE }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Tipo plan</label>
                            <div class="col-sm-8">
                                <select v-model="TipoPlan" class="form-control">
                                    <option value="SELECCIONAR">SELECCIONAR</option>
                                    <option v-for="item in Lista9" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                        {{ item.VALUE }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Plan</label>
                            <div class="col-sm-8">
                                <input v-model="Plan" type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Equipos</label>
                            <div class="col-sm-8">
                                <input v-model="Equipos" type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Horario sugerido</label>
                            <div class="col-sm-8">
                                <input v-model="HorarioSugerido" type="date" class="form-control" />
                            </div>
                        </div>
                        <div>
                            <b-card no-body>
                                <b-tabs card>
                                    <b-tab no-body title="PLANES REGULARES">
                                        <img src="~/Recursos/CLARO/planesRegulares.png" />
                                    </b-tab>
                                    <b-tab no-body title="PLANES TELETRABAJO">
                                        <img src="~/Recursos/CLARO/PlanesTeletrabajo.png" />
                                    </b-tab>
                                    <b-tab no-body title="PLANES GAMER">
                                        <img src="~/Recursos/CLARO/PlanesGamer.png" />
                                    </b-tab>
                                    <b-tab no-body title="EQUIPOS">
                                        <img src="~/Recursos/CLARO/Equipos.png" />
                                    </b-tab>
                                    <b-tab no-body title="MODELO DE EQUIPOS">
                                        <img src="~/Recursos/CLARO/ModeloEquipo.png" />
                                    </b-tab>
                                </b-tabs>
                            </b-card>
                        </div>
                    </template>
                    <template v-if="OFRECIMIENTO.VALUE =='DESCUENTO EN CARGO FIJO'">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Tipo descuento</label>
                            <div class="col-sm-8">
                                <select v-model="TipoDescuento" class="form-control">
                                    <option value="SELECCIONAR">SELECCIONAR</option>
                                    <option v-for="item in Lista13" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                        {{ item.VALUE }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </template>
                    <template v-if="OFRECIMIENTO.VALUE =='PUNTO ADICIONAL SIN COSTO'">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Tipo servicio</label>
                            <div class="col-sm-8">
                                <select v-model="TipoServicio" class="form-control">
                                    <option value="SELECCIONAR">SELECCIONAR</option>
                                    <option v-for="item in Lista16" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                        {{ item.VALUE }}
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Nro puntos</label>
                            <div class="col-sm-8">
                                <select v-model="NroPuntos" class="form-control">
                                    <option value="SELECCIONAR">SELECCIONAR</option>
                                    <option v-for="item in Lista17" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                        {{ item.VALUE }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </template>
                    <template v-if="OFRECIMIENTO.VALUE =='TRASLADO INTERNO SIN COSTO'">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Equipos a mover</label>
                            <div class="col-sm-8">
                                <select v-model="EquiposAMover" class="form-control">
                                    <option value="SELECCIONAR">SELECCIONAR</option>
                                    <option v-for="item in Lista10" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                        {{ item.VALUE }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </template>
                    <template v-if="OFRECIMIENTO.VALUE =='ACTIVACIÓN DE CANALES PREMIUM'">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Paquete</label>
                            <div class="col-sm-8">
                                <select v-model="Paquete" class="form-control">
                                    <option value="SELECCIONAR">SELECCIONAR</option>
                                    <option v-for="item in Lista11" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                        {{ item.VALUE }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Periodo</label>
                            <div class="col-sm-8">
                                <select v-model="Periodo" class="form-control">
                                    <option value="SELECCIONAR">SELECCIONAR</option>
                                    <option v-for="item in Lista12" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                        {{ item.VALUE }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </template>
                    <template v-if="OFRECIMIENTO.VALUE =='BONOS DE INCREMENTO DE VELOCIDAD TEMPORAL'">
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Periodo</label>
                            <div class="col-sm-8">
                                <select v-model="Periodo" class="form-control">
                                    <option value="SELECCIONAR">SELECCIONAR</option>
                                    <option v-for="item in Lista12" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                        {{ item.VALUE }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-4 col-form-label">Estado</label>
                            <div class="col-sm-8">
                                <select v-model="Estado" class="form-control">
                                    <option value="SELECCIONAR">SELECCIONAR</option>
                                    <option v-for="item in Lista15" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,OBSERVACION: item.OBSERVACION, ESTADO: item.ESTADO }">
                                        {{ item.VALUE }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </template>
                </div>
            </div>
        </div>
    </b-modal>

</div>
<script src="~/Scripts/LogicaDeNegocios/PreventivaOUT.js"></script>
<script>

</script>
