
@{
    string Title = "RET. BO";
    ViewBag.Title = Title;
}

<div id="app">
    <div class="containerClaro">
        <br />
        <div class="row">

            <div class="col-sm-12 col-lg-12" v-if="ID == 0">
                <b-overlay :show="show" rounded="xl">
                    <div class="row">
                        <div class="col-xs-3 col-md-3"></div>
                        <div class="col-xs-9 col-md-9">
                            <div class="card redondoCardLight  cajaGrisClaroDelgado">
                                <div class="card-body">
                                    <div class="row bg-info">
                                        <div class="col-sm-8 col-md-8 col-lg-8">
                                            <div class="card-title  text-left text-white">
                                                <br /><h3>RETENCIONES BACKOFFICE</h3>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-4 col-lg-4">
                                            <div class="card-title  text-right text-white">

                                                <br /><span> <b-avatar button icon="printer" size="3rem" v-on:click="Imprimir" variant="light"></b-avatar></span><span>Imprimir: </span>&nbsp;&nbsp;&nbsp;
                                                <span> <b-avatar button icon="alarm" size="3rem" variant="light"></b-avatar></span><span>&nbsp;&nbsp;&nbsp;Tiempo: </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                            <br />
                                            <div class="form-group row">
                                                <label for="inputEmail3" class="col-sm-3 col-form-label">Resultado</label>
                                                <div class="col-sm-3">
                                                    <select v-model="CAMPO" class="form-control" v-on:change="cargarBandeja()">
                                                        <option value="AGENDADO">USUARIO</option>
                                                        <option value="TODOS PENDIENTE">TODOS PENDIENTE</option>
                                                        <option value="TODOS">TODOS</option>
                                                        <option value="ID">ID</option>
                                                        <option value="HERRAMIENTA COBRANZAS">HERRAMIENTA COBRANZAS</option>
                                                        <option value="REPETIDOR MESH">REPETIDOR MESH</option>
                                                        <option value="REPETIDOR MESH PREVENTIVA">REPETIDOR MESH PREVENTIVA</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input v-model="CONTENIDO" v-on:keyup="cargarBandeja() " type="tel" class="form-control" />
                                                </div>
                                                <div class="col-sm-3">
                                                    <select v-model="categoryIdFilter" class="form-control" size="sm" v-on:change="buscar(categoryIdFilter.VALUE) ">
                                                        <option v-for="item in categories" v-bind:value="{ VALUE: item.text }">
                                                            {{ item.text }}
                                                        </option>
                                                    </select>
                                                </div>



                                            </div>
                                            <br />
                                            <template>


                                                <b-container fluid>
                                                    <!-- Main table element -->
                                                    <b-row style=" height: 600px; overflow: scroll; ">
                                                        <b-table :items="ListaBandeja"
                                                                 :fields="fields"
                                                                 stacked="md"
                                                                 head-variant="light"
                                                                 show-empty
                                                                 sticky-header
                                                                 small>
                                                            <template #cell(name)="row">
                                                                {{ row.value.first }} {{ row.value.last }}
                                                            </template>

                                                            <template #cell(ID)="row">
                                                                <template v-if="row.item.FLAG ==1">
                                                                    <b-avatar v-on:click="iniciar(row.item, row.index, $event.target)" title="Ingresar" button icon="card-checklist" size="2rem" variant="light" class="align-center btn-outline-success"></b-avatar>
                                                                </template>
                                                                <template v-else="row.item.FLAG ==1">
                                                                    <b-avatar v-on:click="iniciar(row.item, row.index, $event.target)" title="Ingresar" button icon="card-checklist" size="2rem" variant="light" class="align-center btn-outline-danger"></b-avatar>
                                                                </template>
                                                            </template>
                                                        </b-table>
                                                    </b-row>
                                                    <br />
                                                </b-container>
                                            </template>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </b-overlay>
            </div>
            <div class="col-sm-12 col-lg-12" v-else="ID == 0">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-lg-4">
                        <div class="card redondoCardLight  cajaGrisClaroDelgado">
                            <div class="card-body">
                                <h2 class="text-dark"><b>Información del cliente</b></h2>
                                <hr />
                                <div v-for="i in PLANTILLA" class="col-sm-12 col-lg-12 text-left">
                                    <span style="font-size: 12px; ">&nbsp;{{i.name}}</span> @*max-height:50px; overflow:hidden;*@
                                </div>
                            </div>
                        </div>
                        <div class="card redondoCardLight  cajaGrisClaroDelgado text-center" style=" position: fixed; bottom: 50px;right: 50px; z-index:10">
                            <div class="card-body">
                                <span class="btn btn-link text-dark" style="width:70px" title="Salir" v-on:click="salir(0)">
                                    <span class="badge badge-light text-black-50" style="font-size: 11px; height: 11px; margin-top: -30px;  z-index: 10;">Cancelar</span>
                                    <i class="fas fa-book-medical fa-3x"></i>
                                </span>
                                <span class="btn btn-link text-dark" style="width:70px" title="Salir" v-on:click="salir(ID)">
                                    <span class="badge badge-light text-black-50" style="font-size: 11px; height: 11px; margin-top: -30px;  z-index: 10;">Salir</span>
                                    <i class="fas fa-book-medical fa-3x"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-5 col-lg-5">
                        <div v-if="ID_SOLUCION == 0">
                            <div class="card redondoCardLight  cajaGrisClaroDelgado">
                                <div class="card-body">

                                    <h2 class="text-dark"><b>Lista de ofrecimientos</b></h2>
                                    <hr />
                                    <b-container fluid>
                                        <!-- Main table element -->
                                        <b-row style=" height: 300px; overflow: scroll; ">
                                            <b-table :items="ListaOfrecimiento" :fields="fieldsBO"
                                                     stacked="md"
                                                     head-variant="light"
                                                     show-empty
                                                     sticky-header
                                                     small>
                                                <template #cell(name)="row">
                                                    {{ row.value.first }} {{ row.value.last }}
                                                </template>
                                                <template #cell(ID)="row">
                                                    <b-avatar v-on:click="seguimiento(row.item, row.index, $event.target)" title="Ingresar" button icon="card-checklist" size="2rem" variant="light" class="align-center btn-outline-success"></b-avatar>
                                                </template>
                                            </b-table>
                                        </b-row>
                                        <br />
                                    </b-container>
                                </div>


                            </div><br />
                        </div>
                        <div v-else="ID_SOLUCION == 0">

                            <div class="card redondoCardLight  cajaGrisClaroDelgado">
                                <div class="row">
                                    <div class="col-12" v-for="item in ListaOfrecimiento">
                                        <template v-if="item.ID == ID_SOLUCION">
                                            <h2 class="text-dark"><b>{{item.OFRECIMIENTO}}</b></h2>
                                            <hr />
                                            <div class="form-group row">
                                                @*<label for="inputEmail3" class="col-sm-12 col-form-label">Ofrecimiento:&nbsp;&nbsp;</label>*@
                                                <label for="inputEmail3" class="col-sm-6 col-form-label">Estado:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.ESTADO}}</label>
                                                <label for="inputEmail3" class="col-sm-6 col-form-label">Motivo:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.MOTIVO}}</label>
                                                <label for="inputEmail3" class="col-sm-12 col-form-label">Detalle:</label>
                                                <label for="inputEmail3" class="col-sm-12 col-form-label">{{item.GESTION}}</label>
                                                <label for="inputEmail3" class="col-sm-12 col-form-label">{{item.OBSERVACION}}</label>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                            </div><br />

                            <div class="card redondoCardLight  cajaGrisClaroDelgado">
                                <br />
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-3 col-form-label">Estado</label>
                                    <div class="col-sm-7">
                                        <select v-model="ESTADO" class="form-control" v-on:change="cargarDropdow(ESTADO)">
                                            <option v-for="item in Lista8" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE ,SPEECH: item.SPEECH, DESCARTES: item.DESCARTES, ACCIONES: item.ACCIONES ,OBSERVACION: item.OBSERVACION }">
                                                {{ item.VALUE }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <p v-if="ESTADO.VALUE == 'NINGUNO' "><span class="badge badge-danger"> ! </span></p>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-3 col-form-label">Motivo</label>
                                    <div class="col-sm-7">
                                        <select v-model="MOTIVO" class="form-control">
                                            <option v-for="item in Lista9" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE, SPEECH: item.SPEECH, DESCARTES: item.DESCARTES, ACCIONES: item.ACCIONES ,OBSERVACION: item.OBSERVACION }">
                                                {{ item.VALUE }}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <p v-if="MOTIVO.VALUE == 'NINGUNO'"><span class="badge badge-danger"> ! </span></p>
                                    </div>
                                </div>

                                <div class="form-group row" v-if="MOTIVO.VALUE != 'NINGUNO'">
                                    <label for="inputEmail3" class="col-sm-3 col-form-label">Incidencia</label>
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">{{MOTIVO.SPEECH}}</label>
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Área Claro:{{MOTIVO.DESCARTES}}</label>
                                    <label for="inputEmail3" class="col-sm-3 col-form-label">Contactabilidad</label>
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">{{MOTIVO.ACCIONES}}</label>
                                    <label for="inputEmail3" class="col-sm-4 col-form-label">Conformidad:{{MOTIVO.OBSERVACION}}</label>
                                </div>
                                <template v-if="ESTADO.VALUE ==  'Atendido' || ESTADO.VALUE ==  'No Atendido' ">
                                    <div class="form-group row">
                                        <label for="inputEmail3" class="col-sm-3 col-form-label">SN BO</label>
                                        <div class="col-sm-7">
                                            <input v-model="SN_BO" type="tel" maxlength="16" class="form-control" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');" />
                                        </div>
                                        <div class="col-sm-1">
                                            <p v-if="SN_BO.length < 16"><span class="badge badge-danger"> ! </span></p>
                                        </div>
                                    </div>
                                </template>
                                <div v-if="ESTADO.VALUE ==  'Seguimiento' " class="form-group row">
                                    <label class="col-xs-3 col-sm-3 col-lg-3 col-form-label ">FECHA <span v-if="FECHA=='' " class="badge badge-danger"> ! </span></label>
                                    <div class="col-xs-4 col-sm-4 col-lg-4">
                                        <span class="btn btn-block text-dark text-center" title="Elegir fecha" v-on:click="mostrarModal({MENSAJE:'FECHA DE AGENDAMIENTO', modal:'FormularioFecha'})">
                                            <span class="badge badge-light text-black-50" style="font-size:14px"> <span class="badge badge-light text-danger" v-if="FECHA==''">Ingresar fecha</span>{{FECHA}} </span>
                                            <b-avatar button icon="calendar" size="2rem" variant="light"></b-avatar>
                                        </span>
                                    </div>
                                    <div class="col-xs-3 col-sm-3 col-lg-3">


                                        <select v-model="HORA" class="form-control">
                                            <option v-for="item in Lista11" v-bind:value="{ ID: item.ID, ID_CONTROL: item.ID_CONTROL, VALUE: item.VALUE }">
                                                {{ item.VALUE }}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-3 col-form-label">Observación</label>
                                    <div class="col-sm-7">
                                        <textarea class="form-control" v-model="OBSERVACION" rows="4"></textarea>
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label for="inputEmail3" class="col-sm-4 col-form-label"></label>
                                    <span class="btn btn-light text-left" v-on:click="ID_SOLUCION = 0">Cancelar</span>
                                    <label for="inputEmail3" class="col-sm-3 col-form-label"></label>
                                    <span class="btn btn-info text-right" v-on:click="guardar()">Guardar</span>
                                </div>

                            </div>
                            <br />
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <b-modal id="FormularioFecha" centered hide-header hide-footer no-fade static content-class="w-auto mx-auto">
        <b-calendar v-model="FECHA" :min="min"></b-calendar>
    </b-modal>

    <b-modal id="formularioError" size="lg" data-html="true" title="Mensaje de Sistema" ok-only>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-lg-12">
                <template>
                    <b-alert show variant="warning">
                        <div class="row">
                            <div class="col-2 text-center">
                                <br /><b-avatar button icon="exclamation-octagon" size="4rem" variant="warning"></b-avatar>
                            </div>
                            <div class="col-10">
                                <br /><span v-html="MENSAJE"></span>
                            </div>
                        </div>
                    </b-alert>
                </template>
            </div>
        </div>
    </b-modal>
</div>
<script src="~/Scripts/LogicaDeNegocios/RetencionesBO.js"></script>
<script>

</script>
