
@{
    string Title = "Comunicado";
    ViewBag.Title = Title;
    Layout = "~/Views/Shared/_ImageUpload.cshtml";
}

<div id="app">
    <div class="containerClaro">
        <div class="row">
            <div class="col-sm-12 col-md-12 text-center">
                <img  v-bind:src="'../Recursos/Examen/'+Img" width="100%">
            </div>
        </div>
    </div>

</div>
<script>

    var app = new Vue({
        el: '#app',
        data: {
            ID_USUARIO: sessionStorage.getItem('ID_USUARIO'),
            SERVER_URL: sessionStorage.getItem('SERVER_URL'),
            Img: sessionStorage.getItem('IMAGE'),
        },
        methods: {
            mostrarToast(variant = null) {
                this.MensajeSistema = variant.msg;
                this.$bvToast.toast(this.MensajeSistema, {
                    title: `Alerta de sistema`,
                    variant: variant.toast,
                    solid: true
                })
            }
        }
    })
</script>




