* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Roboto', 'Montserrat', sans-serif;*/
    font-family: 'Inter', sans-serif;
    /*    background: #fafafa;*/
    font-size: 12px;
}


/*PAGOS PF*/

.text-body {
    font-size:14px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    padding: 0;
    line-height: 1;
}


.modal-backdrop
 {
    opacity: .8;
}

/* modal confirmacion*/

.p-body-modal {
    color: #3f3f3f; /* texto blanco */
    font-family: 'Inter',sans-serif;
    line-height: 25px;
    font-size:15px;
}

.btn-custom-cancel {
    background-color: #ebebeb;
    /* border: 1px solid;*/
    color: black;
    /* box-shadow: none;*/
}

    .btn-custom-cancel:hover {
        background-color: #d2d1d1;
    }

.btn-custom-ok {
    background-color: #ED6A00;
    /*   border: none;*/
    color: white;
    /*box-shadow: none;*/
}

    .btn-custom-ok:hover {
        color: white;
        background-color: #ba580a;
    }


/*div flex*/
.div-flex-center {
    display: flex; /* Activa flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    /*   height: 200px;  Establece una altura para que se note el centrado vertical */
}

.div-msg-ok {
    width: 350px;
    height: 350px;
    background-color: white;
    border-radius: 21px;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 0px 4px 7px 1px rgba(160,154,154,0.58);
    -webkit-box-shadow: 0px 4px 7px 1px rgba(160,154,154,0.58);
    -moz-box-shadow: 0px 4px 7px 1px rgba(160,154,154,0.58);
}

.msgAlertaInt {
    color: #bc0024;
}

.ul-menu {
    list-style-type: none;
    
}

.ul-menu li {
    margin:40px;
}

.menu-icon:hover {
    filter: brightness(1.2); /* hace la imagen más clara */
    transform: scale(1.001); /* ligeramente más grande */
    transition: all 0.1s ease;
}



.cta-button-header {
    font-family: 'Inter', sans-serif; /* Asegúrate de tener esta fuente disponible */
    background-color: #ED6A00;
    border: none;
    color: white;
    padding: 8px 30px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 17px;
    z-index: 2;
}


.cta-button-bnvda {
    font-family: 'Inter', sans-serif; /* Asegúrate de tener esta fuente disponible */
    background-color: #FFFFFF;
    border: none;
    color:  #5A1160;
    font-weight:600;
    padding: 8px 30px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 17px;
    
}

/* Estilos para el nav (enlaces de navegación) */
 nav ul {
    display: flex; /* Los enlaces estarán en línea */
    list-style-type: none; /* Quitamos los puntos de lista */
    margin: 0;
    padding: 0;
}

    nav ul li {
        margin-left: 20px; /* Espacio entre los enlaces */
        margin-top: 11px;
    }

      nav ul li a {
            color: black ;
            text-decoration: none; /* Eliminamos el subrayado */
            font-size: 17px; /* Tamaño de texto */

            font-family: 'Inter', sans-serif; /* Usamos el nombre exacto de la fuente */
            font-weight: 400; /* Peso de la fuente (Regular) */
            font-style: normal; /* Estilo de la fuente (Regular) */

            line-height: 1; /* Para replicar el 100% de line-height (se puede ajustar si es necesario) */
            letter-spacing: 0; /* Espaciado entre las letras */
        }
 nav ul li a:hover {
                text-decoration: underline; /* Subrayado cuando pasa el cursor */
            }

.nav-item-btn .nav-link {
    text-decoration: none;
    font-family: 'Inter', sans-serif; /* Asegúrate de tener esta fuente disponible */
    background-color: #ED6A00;
    border: none;
    color: white !important;
    padding: 9px 30px !important;
    cursor: pointer;
    font-size: 15px;
    border-radius: 17px;
    width:170px;
    text-align:center;
  
}


.nav-item-link .nav-link {
    color: black !important;
   
}
.nav-item-link .nav-link:hover {
   
    
}
@media (max-width: 900px) {
        nav {
            padding: 10px; /* Reducimos el padding */
        }
    }

.menuMobil {
    display: none;
}

/*768 576  992*/
@media (max-width: 992px) {
    .menuRegular {
        display: none;
    }

    .menuMobil {
        display: block;
    }
}



    /*---FIN PAGOS PF----*/
