/*V4*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Asegura que el body y el HTML ocupen toda la altura de la ventana */
    /*   overflow: hidden; Elimina el scroll */
}

body {
    font-family: Arial, sans-serif;
    background-color: #5A1160;
}

/* Estilos generales para el header */
.header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: #fff;
    display: flex; /* Utilizamos Flexbox para una alineación eficiente */
    justify-content: space-between; /* Espacio entre logo y navegación */
    align-items: center; /* Alineación vertical centrada */
    padding: 20px 140px; /* Padding alrededor del header antes top 10px*/
   
    color: white;
}

    .header .logo img {
        max-height: 50px; /* Controlamos el tamaño del logo */
        width: auto;
    }

/* Estilos para el nav (enlaces de navegación) */
header nav ul {
    display: flex; /* Los enlaces estarán en línea */
    list-style-type: none; /* Quitamos los puntos de lista */
    margin: 0;
    padding: 0;
}

    header nav ul li {
        margin-left: 30px; /* Espacio entre los enlaces */
    }

        header nav ul li a {
            color: black;
            text-decoration: none; /* Eliminamos el subrayado */
            font-size: 17px; /* Tamaño de texto */

            font-family: 'Inter', sans-serif; /* Usamos el nombre exacto de la fuente */
            font-weight: 400; /* Peso de la fuente (Regular) */
            font-style: normal; /* Estilo de la fuente (Regular) */
         
            line-height: 1; /* Para replicar el 100% de line-height (se puede ajustar si es necesario) */
            letter-spacing: 0; /* Espaciado entre las letras */
        }

            header nav ul li a:hover {
                text-decoration: underline; /* Subrayado cuando pasa el cursor */
            }

/* Botón hamburguesa posicionado a la derecha */
.menu-toggle {
    display: none; /* Ocultamos el botón en pantallas grandes */
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute; /* Posiciona el botón fuera del flujo normal */
    right: 20px; /* Coloca el botón 20px desde el borde derecho */
    top: 20px; /* Coloca el botón 20px desde el borde superior */
}

    .menu-toggle .bar {
        width: 30px;
        height: 4px;
        background-color: gray;
    }

/* Media query para pantallas pequeñas 768px*/
@media (max-width: 900px) {
.header {
        flex-direction: column; /* Cambiamos la dirección a columna para el header */
        align-items: flex-start; /* Alineamos los elementos al inicio */
        padding: 10px; /* Reducimos el padding */
}

.header .logo img {
            max-height: 40px; /* Reducimos el tamaño del logo */
}

.header nav ul {
        flex-direction: column; /* Los enlaces se apilan verticalmente */
        width: 100%; /* Ocupan todo el ancho disponible */
        text-align: left; /* Alineamos los enlaces a la izquierda */
        display: none; /* Ocultamos el menú por defecto */
        margin-top: 10px; /* Un pequeño margen para separar el menú del logo */
}

.header nav ul li {
            margin: 10px 0; /* Aumentamos el margen entre los enlaces */
}

.header nav ul li a {
                font-size: 14px; /* Reducimos el tamaño de texto */
}

    /* Mostrar el menú cuando el botón hamburguesa esté activo */
.header nav.active ul {
        display: flex; /* Mostrar el menú */
}

    /* Mostrar el botón hamburguesa */
.menu-toggle {
        display: flex; /* Mostrar el botón en pantallas pequeñas */
}

}




.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: #5A1160;*/
    color: white;
    padding: 64px 0px 0px 140px;
    height: 100%; /* Establece la altura al 100% de la ventana */
    min-height: 600px;
    flex-shrink: 0; /* Asegura que no se reduzca el tamaño */
}

.hero-content1 {
    width: 50%;
    height:100%;
    padding-left:7%; 
    position:relative;
}



    .hero-content1 h1 {
        font-family: 'Inter', sans-serif; /* 'Inter Tight'  Asegúrate de que esta fuente esté disponible */
        font-weight: 700; /* Peso de la fuente en negrita (Bold) */
        font-style: normal; /* Estilo 'Bold' se maneja con 'font-weight' */
        font-size: 42px; /* Tamaño de la fuente */
        line-height: 48px; /* Altura de línea */
        letter-spacing: 0; /* Espaciado de letras en 0 (equivalente a 0%) */
    }

.hero-content1 p {
        font-family: 'Inter', sans-serif; /* Asegúrate de tener esta fuente disponible */
        font-weight: 300; /* Peso normal 370*/
        font-style: normal; /* Estilo regular */
        font-size: 18px; /* Tamaño de la fuente */
        line-height: 24px; /* Altura de línea */
        letter-spacing: 0; /* Espaciado de letras */
        /*   font-size: 18px;
        margin-bottom: 15px;*/
}

.cta-button {
    font-family: 'Inter', sans-serif; /* Asegúrate de tener esta fuente disponible */
    background-color: #ED6A00;
    border: none;
    color: white;
    padding: 15px 30px;
    cursor: pointer;
    font-size: 17px;
    border-radius: 15px;
    z-index: 2;
}

.cta-button-header {
    font-family: 'Inter', sans-serif; /* Asegúrate de tener esta fuente disponible */
    background-color: #ED6A00;
    border: none;
    color: white;
    padding: 8px 30px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 17px;
    z-index: 2;
}

.hero-content2 {
    position:relative;
    width: 50%;
    height: 100%;
}



.content-regular {
        display:block;
        position:absolute;
        top:180px;
}

.content-mobile {
    display: none;
}


/* Media Queries for Responsiveness */
/* Pantallas pequeñas (dispositivos móviles) */
@media screen and (max-width: 768px) {
        .header {
            position: relative;
            
            z-index: 1000;
            width: 100%;
        }

    .content-regular {
        display: none;
    }

    .content-mobile {
        display: block;
    }


        .hero {
            padding: 30px 20px 20px 20px;
            flex-direction: column;
          /*  padding: 20px;*/
            height: 100%; /* Asegura que la parte morada ocupe toda la pantalla */
        }

        .hero-content1 {
            width: 100%;
            text-align: center;
        }

       .hero-content1 h1 {
                font-size: 28px;
                line-height: 34px;
       }

       .hero-content1 p {
                font-size: 16px;
       }

        .cta-button {
            width: 100%;
            padding: 14px 0;
            font-size: 18px;
        }

        .imgPresentacion {
            width: 100%;
            height:100%;
            display:none;
        }

}

/* Pantallas muy pequeñas (dispositivos muy pequeños, como algunos smartphones) */
@media screen and (max-width: 480px) {
        .hero-content1 h1 {
            font-size: 24px;
        }

        .hero-content1 p {
            font-size: 14px;
        }

        .cta-button {
            padding: 16px 0;
            font-size: 20px;
        }
}

/*div flex*/
.div-flex-center {
    display: flex; /* Activa flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    /*   height: 200px;  Establece una altura para que se note el centrado vertical */
}

.div-flex-left {
    display: flex; /* Activa flexbox */
    justify-content: left; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    /*   height: 200px;  Establece una altura para que se note el centrado vertical */
}