@{
    ViewBag.Title = "Examen";
}
<div id="app">
    <div class="containerClaro">
        <br />
        <b-overlay :show="show" rounded="sm">

            <template v-if="ID_FORMULARIO == 0">
                <div class="row">
                    <div class="col-xs-12 col-md-4 col-lg-3">

                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-3" v-for="item in ListaExamenes">
                        <div class="card redondoCardLight  cajaGrisClaroDelgado ">
                            <br /><br />
                            <div class="row">
                                <div class="col-sm-12 col-sm-12 text-center">
                                    <b-avatar class="text-center" button icon="bookmark-check" size="7rem" variant="info"></b-avatar>
                                    <br /><br /><br />
                                </div>

                                <div class="col-xs-12 col-sm-12 text-center text-white bg-info">
                                    <br /><span style="font-size: 21px">{{item.TITULO}}</span><br /><br />
                                </div>
                                <div class="col-xs-12 col-sm-12">
                                    <br />
                                    <b-table-simple hover small caption-top responsive>
                                        <b-thead head-variant="dark">
                                            <b-tr>
                                                <b-th style="text-align: center; font-size:10px;">N° Preguntas:</b-th>
                                                <b-th style="text-align: center; font-size:10px;">Tiempo:</b-th>
                                            </b-tr>
                                        </b-thead>
                                        <b-tbody>
                                            <b-tr>
                                                <b-td style="text-align: center; font-size:10px;">{{item.CANTIDAD}}</b-td>
                                                <b-td style="text-align: center; font-size:10px;">02 Horas</b-td>
                                            </b-tr>
                                        </b-tbody>
                                    </b-table-simple>
                                    <b-table-simple hover small caption-top responsive>
                                        <b-thead head-variant="dark">
                                            <b-tr>
                                                <b-th style="text-align: center; font-size:10px;">Vigencia:</b-th>
                                                <b-th style="text-align: center; font-size:10px;"></b-th>
                                            </b-tr>
                                        </b-thead>
                                        <b-tbody>
                                            <b-tr>
                                                <b-td style="text-align: center; font-size:10px;">{{item.FECHA_INI}}</b-td>
                                                <b-td style="text-align: center; font-size:10px;">{{item.FECHA_FIN}}</b-td>
                                            </b-tr>
                                        </b-tbody>
                                    </b-table-simple>

                                    <br />
                                </div>

                                <div class="col-xs-12 col-md-12 text-right">
                                    <b-button v-on:click="listarPreguntas( {ID_FORMULARIO: item.ID, FORMULARIO: item.TITULO } )" variant="outline-info" pill><b-avatar variant="outline-info" icon="check2-circle" size="2rem"></b-avatar>Iniciar</b-button>
                                </div>


                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </template>
            <template v-else="ID_FORMULARIO == 0">
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">

                        <div class="row">
                            <div class="col-sm-12 col-lg-12" v-if="ID_PREGUNTA == 0">
                                <div class="row">
                                    <div class="col-xs-3 col-md-3"></div>
                                    <div class="col-xs-9 col-md-9">
                                        <div class="card redondoCardLight  cajaGrisClaroDelgado">
                                            <div class="card-body">
                                                <div class="row bg-info">
                                                    <div class="col-sm-8 col-md-8 col-lg-8">
                                                        <div class="card-title  text-left text-white">
                                                            <br /><h3>{{FORMULARIO}}</h3>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                                        <div class="card-title  text-right text-white">
                                                            <br /><span> <b-avatar button icon="alarm" size="3rem" variant="light"></b-avatar></span><span>&nbsp;&nbsp;&nbsp;Tiempo: {{min}} : {{sec}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                                        <br /><br /><br /><br /><br /><br />
                                                        <h2>Bienvenido</h2>
                                                        <br />
                                                        <p>Tus talentos y habilidades irán mejorando con el tiempo, pero para eso has de empezar</p><br /><br />
                                                        <b-button v-on:click="iniciarPregunta( { ID_PREGUNTA: 0, PREGUNTA: '', N_PREGUNTA: 1 } )" variant="outline-info" pill><b-avatar variant="outline-info" icon="power" size="2rem"></b-avatar>Iniciar examen</b-button>

                                                    </div>
                                                    <div class="col-sm-6 col-md-6 col-lg-6">
                                                        <div style=" height: 450px; ">
                                                            <b-avatar class="text-center" button icon="bookmark-check" size="24rem" variant="light"></b-avatar>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 col-lg-12" v-else="ID_PREGUNTA == 0">
                                <div class="row">
                                    <div class="col-xs-3 col-md-2">
                                        <div class="card redondoCardLight  cajaGrisClaroDelgado">
                                            <div class="card-body">
                                                <div class="row bg-info">

                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                        <div class="card-title  text-right text-white">
                                                            <br /><span> <b-avatar button icon="clock-history" size="3rem" variant="light"></b-avatar></span><span>&nbsp;&nbsp;&nbsp;Historico</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                        <br />
                                                        <br />
                                                        <div class="col-xs-12 col-md-12" v-for="(i, index) in Lista">
                                                            <div class="text-dark" v-if="i.ESTADO== 1">
                                                                <span>Preg: {{i.N_PREGUNTA}} -Resp:{{i.N_RESPUESTA}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row" v-if="TERMINADO == 1">
                                                    <div class="col-sm-12 col-md-12 col-lg-12">
                                                        <br />
                                                        <br />
                                                        <div class="text-right">
                                                            <b-button v-on:click="finalizar()" variant="outline-info" pill><b-avatar variant="info" icon="check2-circle" size="2rem"></b-avatar>Terminar examen</b-button>
                                                        </div>
                                                    </div>
                                                </div>

                                                <br />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-xs-9 col-md-10">
                                        <div class="card redondoCardLight  cajaGrisClaroDelgado">
                                            <div class="card-body">
                                                <div>
                                                    <div class="row bg-info">
                                                        <div class="col-sm-8 col-md-8 col-lg-8">
                                                            <div class="card-title  text-left text-white">
                                                                <br /><h3>#{{ID_EXAMEN}} - {{FORMULARIO}}</h3>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4 col-md-4 col-lg-4">
                                                            <div class="card-title  text-right text-white">
                                                                <br /><span> <b-avatar button icon="alarm" size="3rem" variant="light"></b-avatar></span><span>&nbsp;&nbsp;&nbsp;Tiempo: {{min}} : {{sec}}</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row" style=" height: 520px; ">
                                                        @*overflow: scroll;*@
                                                        <div class="col-sm-6 col-md-6 col-lg-6">
                                                            <br />
                                                            <table>
                                                                <tr>
                                                                    <td><b>{{N_PREGUNTA}}&nbsp;&nbsp;&nbsp;{{PREGUNTA}}</b></td>
                                                                </tr>
                                                            </table>
                                                            <hr />
                                                            <template v-for="(respuesta, index) in ListaRespuestas">
                                                                <div class="row" v-if="respuesta.ESTADO > 0">
                                                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                                                        <b-avatar v-on:click="grabarPregunta( {ID_RESPUESTA: respuesta.ID_RESPUESTA, RESPUESTA: respuesta.RESPUESTA, ID_PREGUNTA: respuesta.ID_PREGUNTA, PREGUNTA: respuesta.PREGUNTA, N_PREGUNTA: N_PREGUNTA, N_RESPUESTA: respuesta.N_RESPUESTA, VALOR: respuesta.VALOR, BANNER: respuesta.BANNER } )" button icon="check2-circle" size="2rem" variant="info"></b-avatar>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    </div>
                                                                    <div class="col-sm-10 col-md-10 col-lg-10">
                                                                        <span>{{respuesta.RESPUESTA}}</span>
                                                                    </div>
                                                                </div>
                                                                <div class="row" v-else="respuesta.ESTADO > 0">
                                                                    <div class="col-sm-2 col-md-2 col-lg-2">
                                                                        <b-avatar v-on:click="grabarPregunta( {ID_RESPUESTA: respuesta.ID_RESPUESTA, RESPUESTA: respuesta.RESPUESTA, ID_PREGUNTA: respuesta.ID_PREGUNTA, PREGUNTA: respuesta.PREGUNTA, N_PREGUNTA: N_PREGUNTA, N_RESPUESTA: respuesta.N_RESPUESTA, VALOR: respuesta.VALOR, BANNER: respuesta.BANNER } )" button icon="record-circle" size="2rem" variant="light"></b-avatar>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                                    </div>
                                                                    <div class="col-sm-10 col-md-10 col-lg-10">
                                                                        <span>{{respuesta.RESPUESTA}}</span>
                                                                    </div>
                                                                </div>
                                                                <br />
                                                            </template>
                                                        </div>
                                                        <div class="col-sm-6 col-md-6 col-lg-6">
                                                            <br />


                                                            <div style="height: 450px; overflow:hidden;">
                                                                <template v-if="BANNER==''">
                                                                    <img v-img v-bind:src="'../Recursos/Examen/noImage.png'" width="100%">
                                                                </template>
                                                                <template v-else="BANNER==''">
                                                                    <img v-img v-bind:src="'../Recursos/Examen/' + BANNER" width="100%">
                                                                </template>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-sm-12 col-md-12 col-lg-12">
                                                            <div class="row ">
                                                                <hr /><br /><br />

                                                                <div class="text-center" v-for="(p , i) in ListaPreguntas">
                                                                    <template v-if="p.PREGUNTA == PREGUNTA ">
                                                                        <span class="btn btn-link text-dark ">
                                                                            <b-avatar v-on:click="iniciarPregunta( { ID_PREGUNTA: p.ID_PREGUNTA, PREGUNTA: p.PREGUNTA, N_PREGUNTA: i+1, BANNER: p.BANNER  } )" button icon="bookmark-star-fill" size="4rem" variant="light" class="align-center btn-outline-info"></b-avatar>
                                                                            <span class="badge badge-light text-black-50" style="font-size: 10px; height: 7px; margin-top: -60px; margin-left: -20px; z-index: 10;">{{i+1}}</span>
                                                                        </span>
                                                                    </template>
                                                                    <template v-else="p.PREGUNTA == PREGUNTA ">
                                                                        <template v-if="p.ESTADO == 0">
                                                                            <span class="btn btn-link text-dark ">
                                                                                <b-avatar v-on:click="iniciarPregunta( { ID_PREGUNTA: p.ID_PREGUNTA, PREGUNTA: p.PREGUNTA, N_PREGUNTA: i+1, BANNER: p.BANNER   } )" button icon="bookmark" size="4rem" variant="light" class="align-center btn-outline-info"></b-avatar>
                                                                                <span class="badge badge-light text-black-50" style="font-size: 10px; height: 7px; margin-top: -60px; margin-left: -20px; z-index: 10;">{{i+1}}</span>
                                                                            </span>
                                                                        </template>
                                                                        <template v-else="p.ESTADO == 0">
                                                                            <span class="btn btn-link text-dark ">
                                                                                <b-avatar v-on:click="iniciarPregunta( { ID_PREGUNTA: p.ID_PREGUNTA, PREGUNTA: p.PREGUNTA, N_PREGUNTA: i+1, BANNER: p.BANNER   } )" button icon="bookmark-x-fill" size="4rem" variant="light" class="align-center btn-outline-info"></b-avatar>
                                                                                <span class="badge badge-light text-black-50" style="font-size: 10px; height: 7px; margin-top: -60px; margin-left: -20px; z-index: 10;">{{i+1}}</span>
                                                                            </span>
                                                                        </template>
                                                                    </template>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </template>

        </b-overlay>
    </div>

    <b-modal id="pantallaFinal" size="md" data-html="true" hide-footer hide-header>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="card redondoCardLight  cajaGrisClaroDelgado ">
                    <br />
                    <div class="row">
                        <div class="col-sm-12 col-sm-12 text-center">
                            <div v-if="NOTA<=14">
                                <b-avatar class="text-center" button icon="emoji-frown" size="7rem" variant="warning"></b-avatar>
                            </div>
                            <div v-if="NOTA==15 || NOTA==16">
                                <b-avatar class="text-center" button icon="emoji-neutral" size="7rem" variant="info"></b-avatar>
                            </div>
                            <div v-if="NOTA==17 || NOTA==18">
                                <b-avatar class="text-center" button icon="emoji-smile" size="7rem" variant="sussess"></b-avatar>
                            </div>
                            <div v-if="NOTA>=19">
                                <b-avatar class="text-center" button icon="emoji-sunglasses" size="7rem" variant="sussess"></b-avatar>
                            </div>
                            <br /><br />
                        </div>

                        <div class="col-xs-12 col-sm-12 text-center text-white bg-info">
                            <br /><span style="font-size: 21px">#{{ID_EXAMEN}} {{FORMULARIO}}</span><br /><br />
                        </div>

                        <div class="col-xs-12 col-sm-12 text-center">
                            <hr />
                            <p> <b>{{NOMBRES}} {{APELLIDOS}}</b> </p>
                            <p> <b>{{USUARIO}} </b> </p>
                            <hr />
                        </div>

                        <div class="col-xs-6 col-sm-6 text-right text-dark">
                            <br />
                            <p class="text-dark">Estado:</p>
                            <p class="text-dark">Calificación:</p>
                            <p class="text-dark">Puntos correctos:</p>
                            <p class="text-dark">Tiempo:</p>
                        </div>
                        <div class="col-xs-6 col-sm-6 text-left">
                            <br />
                            <p class="text-dark">Finalizado</p>
                            <p class="text-dark">{{NOTA}}</p>
                            <p class="text-dark">{{CANTIDAD}} / {{ListaPreguntas.length}}</p>
                            <p class="text-dark">{{min}}:{{sec}}</p>

                        </div>
                        <hr />
                        <div class="col-xs-12 col-sm-12 text-center">
                            <div class="output">
                                <img :src="newQRCode" alt="QRCode" />
                            </div>
                        </div>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </b-modal>
    <b-modal id="ampliarImagen" size="xl" data-html="true" hide-footer hide-header>
        <div class="row">

            <div class="col-sm-12 col-sm-12 text-center">
                <img v-bind:src="'/Recursos/Examen/' + BANNER" width="100%">
            </div>
        </div>
    </b-modal>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            ID_USUARIO: sessionStorage.getItem('ID_USUARIO'),
            USUARIO: sessionStorage.getItem('USUARIO'),
            NOMBRES: sessionStorage.getItem('NOMBRES'),
            APELLIDOS: sessionStorage.getItem('APELLIDOS'),
            SERVER_URL: sessionStorage.getItem('SERVER_URL'),

            ID_EXAMEN: 0,
            ID_FORMULARIO: '0',
            FORMULARIO: '',
            BANNER: '',
            ID_PREGUNTA: 0,
            PREGUNTA: '',
            N_PREGUNTA: 0,
            TERMINADO: 0,
            NOTA: 0,
            CANTIDAD: 0,
            currentTime: 1,
            min: 0,
            sec: 0,
            CONTAR: false,


            show: false,
            text: "",
            qrcode: new QRious({ size: 300 }),
            ListaExamenes: [],
            ListaPreguntas: [],
            Lista: [],
            ListaRespuestas: [],
            ListaNegativa: [],
        },
        computed: {
            newQRCode() {
                this.qrcode.value = 'ID ' + this.ID_EXAMEN + '-' + this.FORMULARIO + '  Usuario: ' + this.USUARIO + '  Nombres: ' + this.APELLIDOS + ' ' + this.NOMBRES + ' Calificación: ' + this.NOTA + ' (' + this.CANTIDAD + '/' + this.ListaPreguntas.length + ')  Tiempo:' + this.min + ':' + this.sec + ' ';
                return this.qrcode.toDataURL();
            },
        },
        methods: {
            mostrarModal: function (form) {
                this.MensajeSistema = form.msg;
                this.$bvModal.show(form.modal);

            },
            mostrarToast(variant = null) {
                this.$bvToast.toast(variant.msg, {
                    title: `Alerta de sistema`,
                    variant: variant.toast,
                    solid: true
                })
            },
            pantalla: function (item) {
                this.$bvModal.show(item.PANTALLA);
            },
            OcultarModal: function (form) {
                this.$bvModal.hide(form.modal);
            },
            updateCurrentTime() {
                if (this.currentTime > 0 && this.currentTime < 3600000 && this.CONTAR == true) {
                    setTimeout(() => {
                        this.currentTime += 1
                        this.min = Math.trunc((this.currentTime) / 60) % 60;
                        this.min = this.min > 9 ? this.min : '0' + this.min;
                        this.sec = Math.trunc((this.currentTime)) % 60;
                        this.sec = this.sec > 9 ? this.sec : '0' + this.sec;
                        this.updateCurrentTime()
                    }, 1000)
                }
            },

            iniciarPregunta: function (item) {   //alert(JSON.stringify(item.VALUE));
                this.show = true;
                if (this.CONTAR == false) { this.CONTAR = true; this.updateCurrentTime(); }
                if (item.ID_PREGUNTA == 0) {
                    for (var i in this.ListaPreguntas) {
                        this.ID_PREGUNTA = `${this.ListaPreguntas[0].ID_PREGUNTA}`;
                        this.PREGUNTA = `${this.ListaPreguntas[0].PREGUNTA}`;
                        this.BANNER = `${this.ListaPreguntas[0].BANNER}`;
                    }
                    axios.post(this.SERVER_URL + '/api/Formulario/MantenimientoFormulario', {
                        ID: 0,
                        TITULO: this.FORMULARIO,
                        CAMPO_1: this.ListaPreguntas.length,
                        ID_GRUPO: this.ID_FORMULARIO,
                        ID_USUARIO: this.ID_USUARIO,
                        ID_SEDE: this.ID_SEDE,
                        TIPO: 4,
                    }).then(response => {
                        if (response.data.ID > 0) {
                            this.ID_EXAMEN = response.data.ID;
                            this.show = false;
                            this.mostrarToast({ toast: 'success', msg: 'Contestar las preguntas' });
                            this.N_PREGUNTA = item.N_PREGUNTA;
                            this.ListaRespuestas = this.Lista.filter(i => i.ID_PREGUNTA == this.ID_PREGUNTA);
                        }
                    }).catch(e => { this.mostrarToast({ toast: 'danger', msg: 'Ocurrio un error en la conexión, registro no guardado ...' }); });
                } else {
                    this.show = false;
                    this.ID_PREGUNTA = item.ID_PREGUNTA; this.PREGUNTA = item.PREGUNTA; this.BANNER = item.BANNER
                    this.N_PREGUNTA = item.N_PREGUNTA;
                    this.ListaRespuestas = this.Lista.filter(i => i.ID_PREGUNTA == this.ID_PREGUNTA);
                }
            },

            listarPreguntas_: function () {

                let lPreguntas = this.ListaPreguntas; this.ListaPreguntas = [];

                for (var p in lPreguntas) {
                    let lpPregunta = this.Lista.filter(li => li.ID_PREGUNTA == lPreguntas[p].ID_PREGUNTA && li.ESTADO > 0)
                    if (lpPregunta.length > 0) {
                        for (var i in lpPregunta) {
                            this.ListaPreguntas.push({ ID_PREGUNTA: `${lpPregunta[i].ID_PREGUNTA}`, PREGUNTA: `${lpPregunta[i].PREGUNTA}`, VALOR: `${lpPregunta[i].VALOR}`, ESTADO: 1, BANNER: `${lpPregunta[i].BANNER}` });
                        }
                    } else {
                        lpPregunta = this.Lista.filter(li => li.ID_PREGUNTA == lPreguntas[p].ID_PREGUNTA && li.VALOR > 0)
                        for (var i in lpPregunta) {
                            this.ListaPreguntas.push({ ID_PREGUNTA: `${lpPregunta[i].ID_PREGUNTA}`, PREGUNTA: `${lpPregunta[i].PREGUNTA}`, VALOR: 0, ESTADO: 0, BANNER: `${lpPregunta[i].BANNER}` });
                        }
                    }
                }
                this.TERMINADO = 1;
                for (var p in this.ListaPreguntas) {
                    if (this.ListaPreguntas[p].ESTADO == 0) {
                        this.TERMINADO = 0;
                    }
                }
            },
            grabarPregunta: function (item) {
                this.show = true;
                let lp = []; lp = this.Lista; this.Lista = [];

                axios.post(this.SERVER_URL + '/api/Formulario/MantenimientoRespuesta', {
                    ID: item.ID_RESPUESTA,
                    ID_GRUPO: this.ID_PREGUNTA,
                    TITULO: item.PREGUNTA,
                    CAMPO_1: item.VALOR,
                    CAMPO_2: item.RESPUESTA,

                    ID_USUARIO: this.ID_USUARIO,
                    ID_SEDE: this.ID_EXAMEN,
                    TIPO: 23,
                }).then(response => {
                    if (response.data.ID > 0) {
                        this.mostrarToast({ toast: 'success', msg: 'Guardado correctamente' });
                        for (var i in lp) {
                            if (lp[i].ID_PREGUNTA == item.ID_PREGUNTA) {
                                if (lp[i].ID_RESPUESTA == item.ID_RESPUESTA) {
                                    this.Lista.push({ ID_RESPUESTA: `${lp[i].ID_RESPUESTA}`, RESPUESTA: `${lp[i].RESPUESTA}`, ID_PREGUNTA: `${lp[i].ID_PREGUNTA}`, PREGUNTA: `${lp[i].PREGUNTA}`, VALOR: `${lp[i].VALOR}`, ESTADO: 1, N_PREGUNTA: `${lp[i].N_PREGUNTA}`, N_RESPUESTA: `${lp[i].N_RESPUESTA}`, BANNER: `${lp[i].BANNER}` });
                                } else {
                                    this.Lista.push({ ID_RESPUESTA: `${lp[i].ID_RESPUESTA}`, RESPUESTA: `${lp[i].RESPUESTA}`, ID_PREGUNTA: `${lp[i].ID_PREGUNTA}`, PREGUNTA: `${lp[i].PREGUNTA}`, VALOR: `${lp[i].VALOR}`, ESTADO: 0, N_PREGUNTA: `${lp[i].N_PREGUNTA}`, N_RESPUESTA: `${lp[i].N_RESPUESTA}`, BANNER: `${lp[i].BANNER}` });
                                }
                            }
                            else {
                                this.Lista.push({ ID_RESPUESTA: `${lp[i].ID_RESPUESTA}`, RESPUESTA: `${lp[i].RESPUESTA}`, ID_PREGUNTA: `${lp[i].ID_PREGUNTA}`, PREGUNTA: `${lp[i].PREGUNTA}`, VALOR: `${lp[i].VALOR}`, ESTADO: `${lp[i].ESTADO}`, N_PREGUNTA: `${lp[i].N_PREGUNTA}`, N_RESPUESTA: `${lp[i].N_RESPUESTA}`, BANNER: `${lp[i].BANNER}` });
                            }
                        }
                        this.listarPreguntas_();
                        this.iniciarPregunta({ ID_PREGUNTA: item.ID_PREGUNTA, PREGUNTA: item.PREGUNTA, N_PREGUNTA: item.N_PREGUNTA, BANNER: item.BANNER });

                        this.show = false;
                    }
                }).catch(e => { this.mostrarToast({ toast: 'danger', msg: 'Ocurrio un error en la conexión, registro no guardado ...' }); });
            },
            finalizar: function () {
                this.show = true;
                let lPreguntas = this.ListaPreguntas;
                for (var p in lPreguntas) {
                    this.NOTA = (parseFloat(this.NOTA) + parseFloat(lPreguntas[p].VALOR)).toFixed(0);
                    if (lPreguntas[p].VALOR > 0) {
                        this.CANTIDAD++
                    }
                }

                axios.post(this.SERVER_URL + '/api/Formulario/MantenimientoRespuesta', {
                    CAMPO_1: this.NOTA,
                    ID_USUARIO: this.ID_USUARIO,
                    ID_SEDE: this.ID_EXAMEN,
                    TIPO: 24,
                }).then(response => {
                    if (response.data.ID > 0) {

                        this.ID_PREGUNTA = 0
                        this.ID_FORMULARIO = 0
                        this.CONTAR = false;
                        this.show = false;
                        this.pantalla({ PANTALLA: 'pantallaFinal' });

                        this.mostrarToast({ toast: 'success', msg: 'Guardado correctamente' });
                    } else {
                        this.mostrarToast({ toast: 'danger', msg: 'Ocurrio un error, registro no guardado ...' });
                    }
                }).catch(e => {
                    this.mostrarToast({ toast: 'danger', msg: 'Ocurrio un error en la conexión, registro no guardado ...' });
                });
            },
            listarPreguntas: function (item) {  //  ID_FORMULARIO: item.ID, GRUPO: item.GRUPO, FORMULARIO: item.FORMULARIO
                this.show = true; this.min = 0; this.sec = 0; this.currentTime = 1; this.CANTIDAD = 0;
                this.ID_FORMULARIO = item.ID_FORMULARIO;
                this.FORMULARIO = item.FORMULARIO;
                axios.post(this.SERVER_URL + '/api/Formulario/ListarPreguntasxExamen', {
                    ID: this.ID_FORMULARIO,
                    ID_USUARIO: this.ID_USUARIO,
                    TIPO: 8,
                }).then(response => {
                    if (response.data.length > 0) {
                        this.Lista = [];
                        this.Lista = response.data;

                        this.ListaPreguntas = [];
                        const map = new Map();
                        for (const item of this.Lista) {
                            if (!map.has(item.ID_PREGUNTA)) {
                                map.set(item.ID_PREGUNTA, true);
                                this.ListaPreguntas.push({ ID_PREGUNTA: item.ID_PREGUNTA, PREGUNTA: item.PREGUNTA, VALOR: 0, ESTADO: 0, BANNER: item.BANNER });
                            }
                        }
                        this.ListaExamenes = [];
                        this.show = false;
                    }
                }).catch(e => { this.mostrarToast({ toast: 'warning', msg: 'Error en la conexión ...' }); });
            },
            listarExamenes: function () {         //  alert(JSON.stringify(this.ListaMaestra));
                this.min = 0; this.sec = 0;
                axios.post(this.SERVER_URL + '/api/Formulario/ListarFormulariosGrupoxUsuario', {
                    ID: this.ID_USUARIO,
                    USUARIO: this.USUARIO,
                    ID_USUARIO: this.ID_USUARIO,
                    TIPO: 7,
                }).then(response => {
                    this.ListaExamenes = [];
                    this.ListaExamenes = response.data;
                }).catch(e => { this.mostrarToast({ toast: 'warning', msg: 'Error en la conexión ...' }); });
            }
        }
    })
    //app.listarNegativo();
    app.listarExamenes();
</script>
