@{
    ViewBag.Title = "CAP | Modulo";
    Layout = "~/Views/Shared/_ImageUpload.cshtml";
}
<div id="app">
    <div class="containerClaro">
        <b-overlay :show="show" rounded="sm">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-lg-10">
                    <h2 class="text-left text-info">{{N_PREGUNTA}} - {{MODULO}}</h2>
                    <div class="row">
                        <div class="col-sm-12" v-for="(grupo, index) in ListaRespuestas">
                            <b-card no-body>
                                <b-card-header class="bg-info text-light">
                                    <div :id="'accordion-' + grupo.ID_RESPUESTA" v-b-toggle="'col-' + grupo.ID_RESPUESTA">
                                        {{N_PREGUNTA}}.{{grupo.N_RESPUESTA}} {{ grupo.RESPUESTA }}
                                    </div>
                                </b-card-header>
                                <b-collapse :id="'col-' + grupo.ID_RESPUESTA">
                                    <div style="height:450px; overflow-y:auto;">
                                        <div class="content ql-editor" v-html="grupo.CONTENIDO"></div>
                                    </div>
                                </b-collapse>
                            </b-card>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-lg-2">
                    <div class="card redondoCardLight  cajaGrisClaroDelgado colorFondo">
                        <div class="card-body text-center">
                            <div>
                                <b-alert show variant="warning">
                                    <h5 class="alert-heading">Modulos</h5>
                                </b-alert>
                            </div>
                            <hr />
                            <b-button-group horizontal v-for="item in ListaPreguntas">
                                <b-avatar badge-variant="info" variant="info" v-bind:title="item.PREGUNTA" class="text-center" button icon="book" size="5rem" 
                                          v-on:click="listarRespuestas({ID_PREGUNTA: item.ID_PREGUNTA, N_PREGUNTA: item.N_PREGUNTA, PREGUNTA: item.PREGUNTA  })">
                                    <template #badge>
                                        <span style="font-size:11px; ">Modulo {{item.N_PREGUNTA}}</span>
                                    </template>
                                </b-avatar><br /><br /><br /><br />
                            </b-button-group>
                        </div>
                    </div>
                </div>
            </div>
        </b-overlay>


    </div>
</div>
<script>
    var app = new Vue({
        el: '#app',
        data: {
            ID_USUARIO: sessionStorage.getItem('ID_USUARIO'),
            USUARIO: sessionStorage.getItem('USUARIO'),
            NOMBRES: sessionStorage.getItem('NOMBRES'),
            APELLIDOS: sessionStorage.getItem('APELLIDOS'),
            SERVER_URL: sessionStorage.getItem('SERVER_URL'),
            ID_GRUPO: sessionStorage.getItem('IMAGE'),
            MODULO: '',
            N_PREGUNTA: '',
            show: true,
            ListaPreguntas: [],
            Lista: [],
            ListaRespuestas: [],

        },
        methods: {
            mostrarToast(variant = null) {
                this.$bvToast.toast(variant.msg, {
                    title: `Alerta de sistema`,
                    variant: variant.toast,
                    solid: true
                })
            },
            pantalla: function (item) {
                this.$bvModal.show(item.PANTALLA);
            },
            OcultarModal: function (form) {
                this.$bvModal.hide(form.modal);
            },
            listarRespuestas: function (item) {
                this.ListaRespuestas = this.Lista.filter(x => x.ID_PREGUNTA == item.ID_PREGUNTA);
                this.N_PREGUNTA = item.N_PREGUNTA;
                this.MODULO = item.PREGUNTA;
            }, 
            listarPreguntas: function () {  
                axios.post(this.SERVER_URL + '/api/Formulario/ListarPreguntasxExamen', {
                    ID: this.ID_GRUPO,
                    ID_USUARIO: this.ID_USUARIO,
                    TIPO: 103,
                }).then(response => {
                    if (response.data.length>0) {
                        this.Lista = response.data;
                        const map = new Map();
                        for (const item of this.Lista) {
                            if (!map.has(item.ID_PREGUNTA)) {
                                map.set(item.ID_PREGUNTA, true);
                                this.ListaPreguntas.push({ N_PREGUNTA: item.N_PREGUNTA, ID_PREGUNTA: item.ID_PREGUNTA, PREGUNTA: item.PREGUNTA, VALOR: 0, ESTADO: 0, BANNER: item.BANNER });
                            }
                        }
                        this.show = false;
                    }
                }).catch(e => {this.mostrarToast({ toast: 'warning', msg: 'Error en la conexión ...' });});
            }
        }
    })
    app.listarPreguntas();
</script>
