
@{
    string Title = "ADMIN | Formulario II";
    ViewBag.Title = Title;
}

<div id="app">
    <div class="container">
        <br />
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <br />
                <template>
                    <b-container fluid>
                        <!-- User Interface controls -->
                        <b-row>
                            <b-col lg="6" class="my-1">
                                <b-form-group label="Buscar"
                                              label-for="filter-input"
                                              label-cols-sm="3"
                                              label-align-sm="right"
                                              label-size="sm"
                                              class="mb-0">
                                    <b-input-group size="sm">
                                        <b-form-input id="filter-input"
                                                      v-model="filter"
                                                      type="search"
                                                      v-on:keyup="buscar()"
                                                      placeholder="Ingresar titulo del examen"></b-form-input>

                                        <b-input-group-append>
                                            <b-button :disabled="!filter" @@click="filter = '', buscar()">Limpiar</b-button>
                                        </b-input-group-append>
                                    </b-input-group>
                                </b-form-group>
                            </b-col>
                            <b-col lg="3" class="my-1">
                                @*<div class="text-right">
                                        <b-button v-on:click="onSubmit" variant="info" pill><b-avatar variant="outline-info" icon="pencil-square" size="2rem"></b-avatar>Guardar</b-button>
                                    </div>*@

                                <b-form-group label="Registrar nuevo"
                                              description=""
                                              label-cols-sm="8"
                                              label-align-sm="right"
                                              label-size="sm"
                                              class="mb-0">
                                    <b-avatar v-on:click="editar(0, 0, '')" title="Editar" button icon="pencil-square" size="2rem" variant="light" class="align-center btn-outline-info"></b-avatar>

                                </b-form-group>
                            </b-col>
                            @*<b-col lg="3" class="my-1">
                                    <b-form-group label="Carga masiva"
                                                  description=""
                                                  label-cols-sm="8"
                                                  label-align-sm="right"
                                                  label-size="sm"
                                                  class="mb-0">
                                        <b-avatar v-on:click="pantallaExternaPreguntas()" title="Cargar excel" button icon="file-earmark-excel" size="2rem" variant="light" class="align-center btn-outline-info"></b-avatar>
                                    </b-form-group>
                                </b-col>*@
                            <b-col lg="3" class="my-1">
                                <b-form-group label="Formulario vs Grupo"
                                              description=""
                                              label-cols-sm="8"
                                              label-align-sm="right"
                                              label-size="sm"
                                              class="mb-0">
                                    <b-avatar v-on:click="pantalla({PANTALLA:'formularioVsGrupo'}),listarFormularioVsGrupo()" title="Cargar excel" button icon="file-earmark-excel" size="2rem" variant="light" class="align-center btn-outline-info"></b-avatar>
                                </b-form-group>
                            </b-col>
                        </b-row>
                        <!-- Main table element -->
                        <b-row style=" height: 600px; overflow: scroll; ">
                            <b-table :items="Lista"
                                     :fields="Columnas"
                                     :current-page="currentPage"
                                     :per-page="perPage"
                                     stacked="md"
                                     head-variant="light"
                                     show-empty
                                     sticky-header
                                     small
                                     @@filtered="onFiltered">
                                <template #cell(name)="row">
                                    {{ row.value.first }} {{ row.value.last }}
                                </template>

                                <template #cell(ACCIONES)="row">
                                    <b-avatar v-on:click="editar(row.item, row.index, $event.target)" title="Editar" button icon="pencil-square" size="2rem" variant="light" class="align-center btn-outline-info"></b-avatar>
                                    <b-avatar v-on:click="eliminar(row.item, row.index, $event.target)" title="Eliminar" button icon="trash" size="2rem" variant="light" class="align-center btn-outline-info"></b-avatar>

                                </template>
                            </b-table>
                        </b-row>
                        <br />

                        <!-- User Interface controls -->
                        <b-row>
                            <b-col sm="5" md="6" class="my-1">
                                <b-form-group label="Per page"
                                              label-for="per-page-select"
                                              label-cols-sm="6"
                                              label-cols-md="4"
                                              label-cols-lg="3"
                                              label-align-sm="right"
                                              label-size="sm"
                                              class="mb-0">
                                    <b-form-select id="per-page-select"
                                                   v-model="perPage"
                                                   :options="pageOptions"
                                                   size="sm"></b-form-select>
                                </b-form-group>
                            </b-col>

                            <b-col sm="7" md="6" class="my-1">
                                <b-pagination v-model="currentPage"
                                              :total-rows="totalRows"
                                              :per-page="perPage"
                                              align="fill"
                                              size="sm"
                                              class="my-0"></b-pagination>
                            </b-col>
                        </b-row>


                    </b-container>
                </template>
            </div>

        </div>
    </div>

    <b-modal id="editarFormulario" size="xl" data-html="true" scrollable  hide-footer hide-header @@hide="listarFormularios">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="card redondoCardLight  cajaGrisClaroDelgado ">
                    <div class="card-header bg-info" style="float:right; font-size: 18px; height: 40px; margin-top: 0px;  z-index: 10;">
                        <div class="card-title text-center text-white">
                            <strong class="text-center">{{FORMULARIO}}</strong>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <template>
                                <div>
                                    <b-tabs content-class="mt-3">
                                        <b-tab title="Datos del formulario" active>
                                            <div>
                                                <b-form>
                                                    <b-form-group id="input-group-1" label="Titulo:" label-for="input-2">
                                                        <b-form-input id="input-1"
                                                                      v-model="FORMULARIO"
                                                                      required></b-form-input>
                                                    </b-form-group>
                                                    <b-form-group id="input-group-1" label="Búsqueda:" label-for="input-2" description="Opcional columna de búsqueda">
                                                        <b-form-input id="input-1"
                                                                      v-model="CAMPO_1"
                                                                      required></b-form-input>
                                                    </b-form-group>
                                                    <template v-if="ID == 0">
                                                        <b-form-group id="input-group-3" label="Tabla lectura:" label-for="input-2" description="Solicitar a sistemas">
                                                            <b-form-input id="input-3"
                                                                          v-model="CAMPO_2"
                                                                          required></b-form-input>
                                                        </b-form-group>
                                                        <b-form-group id="input-group-3" label="Tabla:" label-for="input-2" description="Solicitar a sistemas">
                                                            <b-form-input id="input-3"
                                                                          v-model="CAMPO_3"
                                                                          required></b-form-input>
                                                        </b-form-group>
                                                    </template>
                                                    <div class="text-right">
                                                        <b-button v-on:click="GuardarFormulario()" variant="outline-info" pill><b-avatar variant="outline-info" icon="pencil-square" size="2rem"></b-avatar>Guardar</b-button>
                                                    </div>
                                                </b-form>
                                            </div>
                                        </b-tab>
                                        <b-tab title="Controles de formulario" @@click="ID_ITEM = '', ITEM = '' , listacolumnasBD()" v-if="ID > 0">
                                            <div>
                                                <div class="text-right" v-if="ID_ITEM == ''">
                                                    <b-button v-on:click="pantalla({PANTALLA:'columnasBD'})" variant="outline-info" pill><b-avatar variant="outline-info" icon="folder-plus" size="2rem"></b-avatar>Agregar campo nuevo</b-button>
                                                </div>
                                                <b-form>
                                                    <template v-if="ID_ITEM != '' && ITEM != '' ">
                                                        <b-row>
                                                            <b-col lg="3" class="my-1">

                                                                <b-form-group id="input-group-1" label="Columna BD:" label-for="input-2">
                                                                    <b-form-input id="input-1"
                                                                                  v-model="ITEM" :disabled=true
                                                                                  placeholder="Columna BD"></b-form-input>
                                                                </b-form-group>
                                                            </b-col>
                                                            <b-col lg="3" class="my-1">
                                                                <b-form-group id="input-group-1" label="Control:" label-for="input-2" description="Text, Area, Numeric, Date, Dropdow, Switch, Multi">
                                                                    <b-form-input id="input-1"
                                                                                  v-model="CONTROL"
                                                                                  placeholder="Tipo de control"
                                                                                  required></b-form-input>
                                                                </b-form-group>
                                                            </b-col>
                                                            <b-col lg="6" class="my-1">


                                                                <b-form-group id="input-group-1" label="Nombre:" label-for="input-2">
                                                                    <b-form-input id="input-1"
                                                                                  v-model="NOMBRE"
                                                                                  required></b-form-input>
                                                                </b-form-group>
                                                            </b-col>

                                                        </b-row>
                                                        <b-row>
                                                            <b-col lg="6" class="my-1">
                                                                <b-form-group id="input-group-1" label="Modulo:" label-for="input-2" description="Agrupar campos en modulos con el mismo nombre">
                                                                    <b-form-input id="input-1"
                                                                                  v-model="MODULO"
                                                                                  required></b-form-input>
                                                                </b-form-group>
                                                            </b-col>
                                                            <b-col lg="6" class="my-1">
                                                                <b-form-group id="input-group-1" label="Mostrar Si:" label-for="input-2" description="Opcional para ocultar algún campo">
                                                                    <b-form-input id="input-1"
                                                                                  v-model="OCULTAR"
                                                                                  required></b-form-input>
                                                                </b-form-group>
                                                            </b-col>
                                                        </b-row>
                                                    </template>

                                                    <b-row v-if="ID_ITEM != '' && ITEM != '' ">
                                                        <b-col lg="8" class="my-1">

                                                        </b-col>
                                                        <b-col lg="2" class="my-1">

                                                            <div class="text-left">
                                                                <b-button v-on:click="ID_ITEM='', ITEM = '', CONTROL = '', NOMBRE = '', MODULO = '', OCULTAR = '' " variant="outline-dark" pill><b-avatar variant="outline-ligth" icon="x-circle" size="2rem"></b-avatar>Cancelar</b-button>
                                                            </div>
                                                        </b-col>
                                                        <b-col lg="2" class="my-1">
                                                            <div class="text-right">
                                                                <b-button v-on:click="guardarItem()" variant="outline-info" pill><b-avatar variant="outline-info" icon="pencil-square" size="2rem"></b-avatar>Guardar</b-button>
                                                            </div>

                                                        </b-col>
                                                    </b-row>
                                                </b-form>

                                                <br />
                                                <div>
                                                    <b-row style=" height: 550px; overflow: scroll; ">
                                                        <b-table :items="ListaItem"
                                                                 :fields="Columnas"
                                                                 stacked="md"
                                                                 head-variant="light"
                                                                 show-empty
                                                                 sticky-header
                                                                 small>
                                                            <template #cell(name)="row">
                                                                {{ row.value.first }} {{ row.value.last }}
                                                            </template>

                                                            <template #cell(ACCIONES)="row">
                                                                <b-avatar v-on:click="editarItemItem2(row.item, row.index, $event.target)" title="ver" button icon="tools" size="2rem" variant="light" class="align-center btn-info"></b-avatar>
                                                                <template v-if="row.item.PLANTILLA == 'Dropdow' || row.item.PLANTILLA == 'Switch' || row.item.PLANTILLA == 'Multi' || row.item.PLANTILLA == 'Area'">
                                                                    <b-avatar v-on:click="editarItemItem(row.item, row.index, $event.target)" title="ver" button icon="ui-checks" size="2rem" variant="light" class="align-center btn-outline-info"></b-avatar>
                                                                </template>
                                                                <template v-if="row.item.PLANTILLA == 'Text' || row.item.PLANTILLA == 'Numeric'">
                                                                    <b-avatar button icon="" size="2rem" variant="light" class="align-center btn-outline-light"></b-avatar>
                                                                </template>
                                                                <b-avatar v-on:click="ID_ITEM = row.item.ID, ITEM=row.item.TITULO, NOMBRE=row.item.RESULTADO, CONTROL=row.item.PLANTILLA, MODULO=row.item.ACCIONES , OCULTAR= row.item.USUARIO " title="editar" button icon="pencil-square" size="2rem" variant="light" class="align-center btn-outline-info"></b-avatar>
                                                                <b-avatar v-on:click="eliminarItem(row.item, row.index, $event.target)" title="Eliminar" button icon="trash" size="2rem" variant="light" class="align-center btn-outline-info"></b-avatar>
                                                            </template>
                                                        </b-table>
                                                    </b-row>
                                                </div>

                                                <br />

                                            </div>
                                        </b-tab>

                                    </b-tabs>


                                </div>
                            </template>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </b-modal>

    <b-modal id="editarItemItem" size="lg" data-html="true" hide-footer hide-header>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="card redondoCardLight  cajaGrisClaroDelgado ">
                    <div class="card-body">
                        <div class="card-text">
                            ESTAS MODIFICANDO EL ITEM  --> <br /> {{ITEM}}
                            <br /><br />
                            <div class="text-right" v-if="ID_ITEM_ITEM == ''">
                                <b-button v-on:click="ID_ITEM_ITEM='0'" variant="outline-info" pill><b-avatar variant="outline-info" icon="folder-plus" size="2rem"></b-avatar>Agregar Items</b-button>
                            </div>
                            <div class="text-right" v-else="ID_ITEM_ITEM == ''">
                                <b-button v-on:click="ID_ITEM_ITEM='', ITEM_ITEM = '', VALOR = '', CHECK_DEPENDENCIA= 'False', ID_DEPENDENCIA=0, NIVEL={ID:0,TITULO:'SELECCIONAR'}, SUB_NIVEL={ID:0,TITULO:'SELECCIONAR'} " variant="outline-dark" pill><b-avatar variant="outline-light" icon="x-circle" size="2rem"></b-avatar>Cancelar</b-button>
                            </div>


                            <br />
                            <b-row>
                                <b-col lg="6" class="my-1" >
                                    <b-table-simple hover small caption-top responsive>
                                        <b-thead head-variant="dark">
                                            <b-tr>
                                                <b-th style="text-align: center; font-size:10px;">Titulo:</b-th>
                                                <b-th style="text-align: center; font-size:10px;"></b-th>
                                            </b-tr>
                                        </b-thead>
                                        <b-tbody>
                                            <b-tr v-for="(i,index) in ListaItemItem" v-if="i.ID_GRUPO == ID_ITEM && i.ACCIONES== ID_DEPENDENCIA">
                                                <b-td style="text-align: center; font-size:10px;">{{i.TITULO}}</b-td>
                                                <b-td style="text-align: center; font-size:10px;"><b-avatar v-on:click="eliminarItemItem({ID: i.ID, TITULO: i.TITULO})" title="Eliminar" button icon="trash" size="2rem" variant="light" class="align-center btn-outline-info"></b-avatar></b-td>
                                            </b-tr>
                                        </b-tbody>
                                    </b-table-simple>
                                </b-col>
                                <b-col lg="6" class="my-1" v-if="ID_ITEM_ITEM != ''">
                                    <br />
                                    <b-form>
                                        <b-form-group id="input-group-1" label-for="input-2">
                                            <b-form-checkbox switch v-model="CHECK_DEPENDENCIA"
                                                             value="True"
                                                             unchecked-value="False">Este control depende de uno superior</b-form-checkbox>
                                        </b-form-group>
                                        <br />
                                        <template v-if="CHECK_DEPENDENCIA == 'True'">

                                            <div class="form-group row">
                                                <label for="inputEmail3" class="col-sm-4 col-form-label">Depende de</label>
                                                <div class="col-sm-6">
                                                    <select v-model="NIVEL" class="form-control" v-on:change="cargarNivel(NIVEL), SUB_NIVEL = {TITULO : 'SELECCIONAR', ID_CONTROL : 0, ID:0}">
                                                        <option v-for="item in ListaNivel" v-bind:value="{ ID: item.ID, TITULO: item.TITULO, RESULTADO: item.RESULTADO, PLANTILLA: item.PLANTILLA}">
                                                            {{ item.RESULTADO }}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-2">
                                                    <p v-if="NIVEL.TITULO == 'SELECCIONAR'"><span class="badge badge-danger"> ! </span></p>
                                                </div>
                                            </div>
                                            <div v-if="ListaSubNivel.length>0" class="form-group row">
                                                <label for="inputEmail3" class="col-sm-4 col-form-label">Campo superior</label>
                                                <div class="col-sm-6">
                                                    <select v-model="SUB_NIVEL" class="form-control" v-on:change="activarIdDependencia(SUB_NIVEL)">
                                                        <option v-for="item in ListaSubNivel" v-bind:value="{ ID: item.ID, TITULO: item.TITULO}">
                                                            {{ item.TITULO }}
                                                        </option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-2">
                                                    <p v-if="SUB_NIVEL.TITULO == 'SELECCIONAR'"><span class="badge badge-danger"> ! </span></p>
                                                </div>
                                            </div>
                                            <hr />
                                        </template>
                                        <b-row>
                                            <b-col lg="8" class="my-1">
                                                <b-form-textarea id="textarea"
                                                                 v-model="ITEM_ITEM"
                                                                 placeholder="Agregar nuevo item..."
                                                                 rows="6"
                                                                 max-rows="6"></b-form-textarea>
                                                @*<b-form-group id="input-group-1" label="Titulo:" label-for="input-2">
                                                    <b-form-input id="input-1" v-model="ITEM_ITEM" placeholder="Agregar nuevo item"></b-form-input>
                                                </b-form-group>*@
                                            </b-col>


                                            <b-col lg="4" class="my-1">
                                                <br />
                                                <b-form-group id="input-group-1" label-for="input-2">
                                                    <b-button v-on:click="guardarItemItem()" variant="outline-info" pill><b-avatar variant="outline-info" icon="pencil-square" size="2rem"></b-avatar>Guardar</b-button>
                                                </b-form-group>

                                            </b-col>
                                        </b-row>
                                        @*<b-form-group id="input-group-1" label="Orden:" label-for="input-2">
                                                <b-form-input id="input-1" v-model="VALOR" type="tel" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"
                                                              required></b-form-input>
                                            </b-form-group>*@

                                    </b-form>

                                </b-col>

                            </b-row>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </b-modal>

    <b-modal id="editarItemItem2" size="lg" data-html="true" hide-footer hide-header>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="card redondoCardLight  cajaGrisClaroDelgado ">
                    <div class="card-body">
                        <div class="card-text">
                            ESTAS MODIFICANDO EL ITEM  -->  {{ITEM}}
                            <br /><br /><br />

                            <b-row>
                                <b-col lg="3" class="my-1">
                                    <b-form-group id="input-group-1" label="Min:" label-for="input-2">
                                        <b-form-input id="input-1" v-model="MIN" placeholder="Ingresar número" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"></b-form-input>
                                    </b-form-group>
                                </b-col>
                                <b-col lg="3" class="my-1">
                                    <b-form-group id="input-group-1" label="Max:" label-for="input-2">
                                        <b-form-input id="input-1" v-model="MAX" placeholder="Ingresar número" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"></b-form-input>
                                    </b-form-group>
                                </b-col>
                                <b-col lg="3" class="my-1">
                                    <b-form-group id="input-group-1" label="Orden:" label-for="input-2">
                                        <b-form-input id="input-1" v-model="ORDEN" placeholder="Ingresar número" oninput="this.value = this.value.replace(/[^0-9.]/g, ''); this.value = this.value.replace(/(\..*)\./g, '$1');"></b-form-input>
                                    </b-form-group>
                                </b-col>


                                <b-col lg="3" class="my-1">
                                    <br />
                                    <b-form-group id="input-group-1" label-for="input-2">
                                        <b-button v-on:click="guardarItemTool()" variant="outline-info" pill><b-avatar variant="outline-info" icon="pencil-square" size="2rem"></b-avatar>Guardar</b-button>
                                    </b-form-group>

                                </b-col>
                            </b-row>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </b-modal>

    <!-- Info modal -->
    <b-modal id="columnasBD" size="md" data-html="true" hide-footer hide-header>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="card redondoCardLight  cajaGrisClaroDelgado ">
                    <div class="card-body">
                        <div class="card-text">
                            <!-- Main table element -->
                            <b-row style=" height: 700px; overflow: scroll; ">
                                <b-table :items="ListacolumnasBD"
                                         :fields="ColumnasBD"
                                         stacked="md"
                                         head-variant="light"
                                         small>
                                    <template #cell(name)="row">
                                        {{ row.value.first }} {{ row.value.last }}
                                    </template>
                                    <template #cell(ACCIONES)="row">
                                        <b-avatar v-on:click="registrarItem(row.item, row.index, $event.target)" title="Editar" button icon="pencil-square" size="2rem" variant="light" class="align-center btn-outline-info"></b-avatar>
                                    </template>
                                </b-table>
                            </b-row>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </b-modal>
    <b-modal id="formularioVsGrupo" size="lg" data-html="true" hide-footer hide-header>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="card redondoCardLight cajaGrisClaroDelgado ">
                    <div class="card-body">
                        <div class="card-text">
                            <!-- Main table element -->
                            <b-row style=" height: 400px; overflow: scroll; ">
                                <b-table :items="ListaFormularioVsGrupo"
                                         :fields="Columnas"
                                         stacked="md"
                                         head-variant="light"
                                         small>
                                    <template #cell(name)="row">
                                        {{ row.value.first }} {{ row.value.last }}
                                    </template>
                                    <template #cell(ACCIONES)="row">
                                        <b-avatar v-on:click="registrarItem(row.item, row.index, $event.target)" title="Editar" button icon="pencil-square" size="2rem" variant="light" class="align-center btn-outline-info"></b-avatar>
                                    </template>
                                </b-table>
                            </b-row>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </b-modal>
    <b-modal :id="infoModal.id" hide-footer hide-header @@hide="resetInfoModal">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="card redondoCardLight  cajaGrisClaroDelgado ">
                    <div class="card-body">
                        <div class="card-text">
                            <p>Esta seguro de eliminar</p>
                            <pre>{{ infoModal.content }}</pre>

                            <br /><br />
                            <div class="text-right">
                                <b-button v-on:click="eliminarOk" variant="outline-info" pill><b-avatar variant="outline-info" icon="trash" size="2rem"></b-avatar>Eliminar</b-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </b-modal>

    @*<b-modal id="excelPreguntas" size="xl" data-html="true" hide-footer hide-header @@hide="salidaExcelPreguntas">
            <div class="col-xs-12">
                <b-embed type="iframe"
                         aspect="16by9"
                         v-bind:src="SITE"
                         allowfullscreen></b-embed>
            </div>
        </b-modal>*@
</div>
<script src="~/Scripts/LogicaDeNegocios/AdminFormulario.js"></script>
