
@{
    string Title = "Reporte Examen";
    ViewBag.Title = Title;
}
<div id="app">
    <div class="container">
        <br />
        <div class="row">
            <div class="col-xs-12 col-md-12">
                <br />
                <template>
                    <b-container fluid>
                        <!-- User Interface controls -->
                        <b-row>
                            <b-col lg="6" class="my-1">
                                <b-form-group label="Buscar"
                                              label-for="filter-input"
                                              label-cols-sm="3"
                                              label-align-sm="right"
                                              label-size="sm"
                                              class="mb-0">
                                    <b-input-group size="sm">
                                        <b-form-input id="filter-input"
                                                      v-model="filter"
                                                      type="search"
                                                      v-on:keyup="buscar()"
                                                      placeholder="Ingresar titulo de examen"></b-form-input>

                                        <b-input-group-append>
                                            <b-button :disabled="!filter" @@click="filter = '', buscar()">Limpiar</b-button>
                                        </b-input-group-append>
                                    </b-input-group>
                                </b-form-group>
                            </b-col>
                            <b-col lg="6" class="my-1">
                                <b-form-group label="Lista de reporte"
                                              label-for="filter-input"
                                              label-cols-sm="4"
                                              label-align-sm="right"
                                              label-size="sm"
                                              class="mb-0">
                                    <b-input-group size="sm">
                                        <b-form-tags input-id="tags-basic" v-model="Lista"></b-form-tags>
                                        <b-input-group-append>
                                            <b-button @@click="extraerExcel()">Excel</b-button>
                                        </b-input-group-append>
                                    </b-input-group>
                                </b-form-group>
                            </b-col>
                        </b-row>
                        <!-- Main table element -->
                        <b-row style=" height: 600px; overflow: scroll; ">
                            <b-table :items="ListaFormularios"
                                     :current-page="currentPage"
                                     :per-page="perPage"
                                     stacked="md"
                                     head-variant="light"
                                     show-empty
                                     sticky-header
                                     small
                                     @@filtered="onFiltered">
                                <template #cell(name)="row">
                                    {{ row.value.first }} {{ row.value.last }}
                                </template>

                                <template #cell(ACCIONES)="row">
                                    <b-avatar v-on:click="excel(row.item, row.index, $event.target)" title="Editar" button icon="file-earmark-excel" size="2rem" variant="light" class="align-center btn-outline-info"></b-avatar>
                                    <b-avatar v-on:click="agregar(row.item, row.index, $event.target)" title="Editar" button icon="archive" size="2rem" variant="light" class="align-center btn-outline-info"></b-avatar>
                                </template>
                            </b-table>
                        </b-row>
                        <br />

                        <!-- User Interface controls -->
                        <b-row>
                            <b-col sm="5" md="6" class="my-1">
                                <b-form-group label="Per page"
                                              label-for="per-page-select"
                                              label-cols-sm="6"
                                              label-cols-md="4"
                                              label-cols-lg="3"
                                              label-align-sm="right"
                                              label-size="sm"
                                              class="mb-0">
                                    <b-form-select id="per-page-select"
                                                   v-model="perPage"
                                                   :options="pageOptions"
                                                   size="sm"></b-form-select>
                                </b-form-group>
                            </b-col>

                            <b-col sm="7" md="6" class="my-1">
                                <b-pagination v-model="currentPage"
                                              :total-rows="totalRows"
                                              :per-page="perPage"
                                              align="fill"
                                              size="sm"
                                              class="my-0"></b-pagination>
                            </b-col>
                        </b-row>


                    </b-container>
                </template>


            </div>

        </div>
    </div>

</div>

<script>

    var app = new Vue({
        el: '#app',
        data: {
            ID_USUARIO: sessionStorage.getItem('ID_USUARIO'),
            SERVER_URL: sessionStorage.getItem('SERVER_URL'),
            ID_SEDE: sessionStorage.getItem('ID_SEDE'),
            PAGINA: '@Title',
            URL: '@Url.RouteUrl("default")',

            ID_FORMULARIO: '4',
            FORMULARIO: '',
            SITE: '',

            ListaFormularios: [],
            ListaUsuarios: [],
            Lista: [],

            totalRows: 100,
            currentPage: 1,
            perPage: 100,
            pageOptions: [100, 100, 200, { value: 1000, text: "Show a lot" }],
            sortBy: '',
            sortDesc: false,
            sortDirection: 'asc',
            filter: '',
            filterOn: [],

            chartData: [
                ["Jan", 4], ["Feb", 2], ["Mar", 10], ["Apr", 5], ["May", 3]
            ],
            graficoTorta: [],       //['red', 11],['blue', 6]

            infoModal: {
                id: 'info-modal',
                title: '',
                content: ''
            }
        },
        mounted() {
            this.totalRows = this.ListaFormularios.length;
        },
        methods: {
            mostrarModal: function (form) {
                this.MensajeSistema = form.msg;
                this.$bvModal.show(form.modal);
            },
            mostrarToast(variant = null) {
                this.$bvToast.toast(variant.msg, {
                    title: `Alerta de sistema`,
                    variant: variant.toast,
                    solid: true
                })
            },
            pantalla: function (item) {
                this.$bvModal.show(item.PANTALLA);
            },

            buscar: function () {
                if (this.filter.length > 0) {
                    let palabra = this.filter.toUpperCase();
                    this.ListaFormularios = this.ListaFormulariosSinFiltro.filter(x => {
                        return x.TITULO.includes(palabra);
                    });
                }
                else {
                    this.ListaFormularios = this.ListaFormulariosSinFiltro;
                }
            },
            excel(item, index, button) {
                this.ID_FORMULARIO = item.ID;
                document.location.href = this.SERVER_URL + 'Reportes/ExamenExcel/?idFormulario=' + item.ID;
            },
            agregar(item, index, button) {
                this.Lista.push(item.ID);
            },
            extraerExcel() {
                let letras='';
                for (item in this.Lista) {
                    letras = letras + `${this.Lista[item]}` + ', ';
                }
                letras = letras.slice(0, -2);
                document.location.href = this.SERVER_URL + 'Reportes/ExamenExcel/?idFormulario=' + letras;
            },

            onFiltered(filteredItems) {
                // Trigger pagination to update the number of buttons/pages due to filtering
                this.totalRows = filteredItems.length;
                this.currentPage = 1;
            },
            listarFormularios: function () {         //  alert(JSON.stringify(this.ListaMaestra));
                axios.post(this.SERVER_URL + '/api/Formulario/ListarFormulariosxPrograma', {
                    ID: this.ID,
                    ID_USUARIO: this.ID_USUARIO,
                    ID_SEDE: this.ID_SEDE,
                    TIPO: 1
                }).then(response => {
                    this.ListaFormularios = response.data;
                    this.totalRows = this.ListaFormularios.length;
                    this.ListaFormulariosSinFiltro = response.data;
                }).catch(e => {
                    this.mostrarToast({ toast: 'warning', msg: 'Error en la conexión ...' });
                });
            }
        }
    })
    app.listarFormularios();
</script>
