
@{
    string Title = "Reporte | General";
    ViewBag.Title = Title;
}
<div id="app">
    <div class="container">
        <br />
        <b-overlay :show="show" rounded="sm">
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    <br />
                    <template>
                        <b-container fluid>
                            <!-- User Interface controls -->
                            <b-row>
                                <b-col lg="6" class="my-1">
                                    <b-form-group label="Buscar"
                                                  label-for="filter-input"
                                                  label-cols-sm="3"
                                                  label-align-sm="right"
                                                  label-size="sm"
                                                  class="mb-0">
                                        <b-input-group size="sm">
                                            <b-form-input id="filter-input"
                                                          v-model="filter"
                                                          type="search"
                                                          v-on:keyup="buscar()"
                                                          placeholder="Ingresar titulo de examen"></b-form-input>

                                            <b-input-group-append>
                                                <b-button :disabled="!filter" @@click="filter = '', buscar()">Limpiar</b-button>
                                            </b-input-group-append>
                                        </b-input-group>
                                    </b-form-group>
                                </b-col>
                                <b-col lg="3" class="my-1">
                                    <div class="form-group row">
                                        <label class="col-xs-4 col-sm-4 col-lg-4 col-form-label text-right">Fecha <span v-if="FECHA_INI=='' " class="badge badge-danger"> ! </span></label>
                                        <div class="col-xs-8 col-sm-8 col-lg-8">
                                            <span class="btn btn-block text-dark text-center" title="Elegir fecha" v-on:click="mostrarModal({MODAL:'FormularioFecha'})">

                                                <span class="badge badge-light text-black-50" style="font-size:14px"> <span class="badge badge-light text-danger" v-if="FECHA_INI==''">Ingresar fecha</span>{{FECHA_INI}} {{FECHA_FIN}} </span>
                                                <b-avatar button icon="calendar" size="2rem" variant="light"></b-avatar>
                                            </span>
                                        </div>
                                    </div>
                                </b-col>
                                <b-col lg="3" class="my-1">
                                    <b-form-group label="Nuevo registro"
                                                  description=""
                                                  label-cols-sm="8"
                                                  label-align-sm="right"
                                                  label-size="sm"
                                                  class="mb-0">
                                        <b-avatar v-on:click="editar(0, 0, '')" title="Editar" button icon="pencil-square" size="2rem" variant="light" class="align-center btn-outline-info"></b-avatar>

                                    </b-form-group>
                                </b-col>
                            </b-row>
                            <!-- Main table element -->
                            <b-row style=" height: 600px; overflow: scroll; ">
                                <b-table :items="Lista"
                                         :current-page="currentPage"
                                         :per-page="perPage"
                                         stacked="md"
                                         head-variant="light"
                                         show-empty
                                         sticky-header
                                         small
                                         @@filtered="onFiltered">
                                    <template #cell(name)="row">
                                        {{ row.value.first }} {{ row.value.last }}
                                    </template>

                                    <template #cell(ACCIONES)="row">
                                        <b-avatar v-on:click="excel(row.item, row.index, $event.target)" title="Descarga" button icon="file-earmark-excel" size="2rem" variant="light" class="align-center btn-outline-info"></b-avatar>
                                        <b-avatar v-on:click="editar(row.item, row.index, $event.target)" title="Editar" button icon="pencil-square" size="2rem" variant="light" class="align-center btn-outline-info"></b-avatar>
                                        <b-avatar v-on:click="eliminar(row.item, row.index, $event.target)" title="eliminar" button icon="Trash" size="2rem" variant="light" class="align-center btn-outline-info"></b-avatar>

                                    </template>
                                </b-table>
                            </b-row>
                            <br />

                            <!-- User Interface controls -->
                            <b-row>
                                <b-col sm="5" md="6" class="my-1">
                                    <b-form-group label="Per page"
                                                  label-for="per-page-select"
                                                  label-cols-sm="6"
                                                  label-cols-md="4"
                                                  label-cols-lg="3"
                                                  label-align-sm="right"
                                                  label-size="sm"
                                                  class="mb-0">
                                        <b-form-select id="per-page-select"
                                                       v-model="perPage"
                                                       :options="pageOptions"
                                                       size="sm"></b-form-select>
                                    </b-form-group>
                                </b-col>

                                <b-col sm="7" md="6" class="my-1">
                                    <b-pagination v-model="currentPage"
                                                  :total-rows="totalRows"
                                                  :per-page="perPage"
                                                  align="fill"
                                                  size="sm"
                                                  class="my-0"></b-pagination>
                                </b-col>
                            </b-row>
                        </b-container>
                    </template>
                </div>
            </div>
        </b-overlay>

    </div>
    <b-modal id="FormularioFecha" centered hide-header hide-footer no-fade static content-class="w-auto mx-auto">
        <b-calendar v-model="FECHA_INI" :max="max"></b-calendar>
        <b-calendar v-model="FECHA_FIN" :max="max"></b-calendar>
    </b-modal>

    <b-modal id="editarReporte" size="md" data-html="true" hide-footer hide-header>
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div class="card redondoCardLight  cajaGrisClaroDelgado ">
                    <div class="card-header bg-info" style="float:right; font-size: 18px; height: 40px; margin-top: 0px;  z-index: 10;">
                        <div class="card-title text-center text-white">
                            <strong class="text-center">{{TITULO}}</strong>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="card-text">
                            <b-form>
                                <b-form-group id="input-group-1" label="Titulo:" label-for="input-2">
                                    <b-form-input id="input-1"
                                                  v-model="TITULO"
                                                  required></b-form-input>
                                </b-form-group>
                                <b-form-group id="input-group-1" label="Búsqueda:" label-for="input-2" description="Opcional columna de búsqueda">
                                    <b-form-input id="input-1"
                                                  v-model="PLANTILLA"
                                                  required></b-form-input>
                                </b-form-group>
                                <div class="text-right">
                                    <b-button v-on:click="guardar()" variant="outline-info" pill><b-avatar variant="outline-info" icon="pencil-square" size="2rem"></b-avatar>Guardar</b-button>
                                </div>
                            </b-form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </b-modal>


</div>

<script>
    const now = new Date()
    const today = new Date(now.getFullYear(), now.getMonth(), now.getDate())
    const maxDate = new Date(today)
    maxDate.setMonth(maxDate.getMonth())
    var app = new Vue({
        el: '#app',
        data: {
            ID_SESSION: sessionStorage.getItem('ID_SESSION'),
            ID_USUARIO: sessionStorage.getItem('ID_USUARIO'),
            SERVER_URL: sessionStorage.getItem('SERVER_URL'),
            ID_SEDE: sessionStorage.getItem('ID_SEDE'),
            PAGINA: '@Title',
            URL: '@Url.RouteUrl("default")',

            ID: 0,
            TITULO: '',
            PLANTILLA: '',

            FECHA_INI: '',
            FECHA_FIN: '',

            Lista: [],
            Lista_: [],
            L: [],
            max: '',
            show: true,
            totalRows: 100,
            currentPage: 1,
            perPage: 100,
            pageOptions: [100, 100, 200, { value: 1000, text: "Show a lot" }],
            sortBy: '',
            sortDesc: false,
            sortDirection: 'asc',
            filter: '',
            filterOn: [],
            Columnas: [
                'ID', 'RESULTADO', 'PLANTILLA', 'FECHA', 'ACCIONES'
            ],
            chartData: [
                ["Jan", 4], ["Feb", 2], ["Mar", 10], ["Apr", 5], ["May", 3]
            ],
            graficoTorta: [],       //['red', 11],['blue', 6]

            infoModal: {
                id: 'info-modal',
                title: '',
                content: ''
            }
        },
        mounted() {
            this.totalRows = this.Lista.length;
        },
        methods: {
            mostrarModal: function (form) {
                this.$bvModal.show(form.MODAL);
            },
            mostrarToast(variant = null) {
                this.$bvToast.toast(variant.msg, {
                    title: `Alerta de sistema`,
                    variant: variant.toast,
                    solid: true
                })
            },
            pantalla: function (item) {
                this.$bvModal.show(item.PANTALLA);
            },
            editar(item, index, button) {
                this.TITULO = '';
                this.PLANTILLA = '';
                if (item == 0) { this.ID = 0; } else {
                    this.ID = item.ID;
                    this.TITULO = item.RESULTADO;
                    this.PLANTILLA = item.PLANTILLA;
                }
                this.pantalla({ PANTALLA: 'editarReporte' });
            },

            guardar: function () {         //  alert(JSON.stringify(this.ListaMaestra));
                if (this.TITULO.length>4 && this.PLANTILLA.length>4) {
                    axios.post(this.SERVER_URL + '/api/Reportes/MantenimientoReporte', {
                        ID: this.ID,
                        TITULO: this.TITULO,
                        CONTENIDO: this.PLANTILLA,
                        ID_USUARIO: this.ID_USUARIO,
                        ID_SEDE: this.ID_SEDE,
                        TIPO: 2
                    }).then(response => {
                        if (response.data.ID > 0) {
                            this.ID = response.data.ID;
                            this.Lista = this.Lista.filter(Reporte => Reporte.ID != this.ID);
                            this.Lista.push({ ID: this.ID, RESULTADO: this.TITULO, PLANTILLA: this.PLANTILLA, FECHA: 'AHORA', USUARIO: 'YO' });
                            this.totalRows = this.Lista.length;
                            this.Lista_ = this.Lista;
                            this.$bvModal.hide('editarReporte');
                        }
                    }).catch(e => { this.mostrarToast({ toast: 'warning', msg: 'Error en la conexión ...' }); });
                }

            },
            eliminar(item, index, button) {
                this.ID = item.ID;
                alert(this.ID);
                    axios.post(this.SERVER_URL + '/api/Reportes/MantenimientoReporte', {
                        ID: this.ID,
                        ID_USUARIO: this.ID_USUARIO,
                        ID_SEDE: this.ID_SEDE,
                        TIPO: 3
                    }).then(response => {
                        if (response.data.ID > 0) {
                            this.Lista = this.Lista.filter(Reporte => Reporte.ID != this.ID);
                            this.totalRows = this.Lista.length;
                            this.Lista_ = this.Lista;
                            this.$bvModal.hide('editarReporte');
                        }
                    }).catch(e => { this.mostrarToast({ toast: 'warning', msg: 'Error en la conexión ...' }); });

            },
            buscar: function () {
                if (this.filter.length > 0) {
                    let palabra = this.filter.toUpperCase();
                    this.Lista = this.Lista_.filter(x => {
                        return x.TITULO.includes(palabra);
                    });
                }
                else {
                    this.Lista = this.Lista_;
                }
            },
            excel(item, index, button) {
                if (this.FECHA_INI.length > 2 && this.FECHA_FIN.length > 2) {
                    document.location.href = this.SERVER_URL + 'Reportes/ClaroExcel/?ini=' + this.FECHA_INI + '&fin=' + this.FECHA_FIN + '&tipo=' + item.ID;
                } else { this.mostrarToast({ toast: 'warning', msg: 'Registrar fecha ...' }); }
            },
            onFiltered(filteredItems) {
                this.totalRows = filteredItems.length;
                this.currentPage = 1;
            },
            listar: function () {         //  alert(JSON.stringify(this.ListaMaestra));
                axios.post(this.SERVER_URL + '/api/Reportes/ListaReportesxPrograma', {
                    ID: this.ID,
                    ID_USUARIO: this.ID_USUARIO,
                    ID_SEDE: this.ID_SEDE,
                    TIPO: 1
                }).then(response => {
                    if (response.data.length>0) {
                        this.Lista = response.data;
                        this.totalRows = this.Lista.length;
                        this.Lista_ = response.data;
                        this.show = false;
                    }
                }).catch(e => {this.mostrarToast({ toast: 'warning', msg: 'Error en la conexión ...' });});
            }
        }
    })
    app.listar();
</script>
