<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <!--<system.web>
    <customErrors mode="RemoteOnly" defaultRedirect="Seguridad/Login.cshtml"/>
    <compilation debug="true"/>
  </system.web>-->
  <configSections>
    <sectionGroup name="groupSanPablo">
      <section name="sectionEmail" type="System.Configuration.NameValueSectionHandler"/>
    </sectionGroup>
  </configSections>
  <groupSanPablo>
    <sectionEmail>
      <!--INICIO - SERVER CORREO SAN PABLO-->
      <add key="Host" value="192.168.200.10"/>
      <add key="Puerto" value="25"/>
      <add key="UsuarioMail" value="basededatos@sanpablo.com.pe"/>
      <add key="MailAddress" value="basededatos@sanpablo.com.pe"/>
      <add key="DisplayName" value="Clínica San Pablo - WEB Pagos"/>
      <add key="AdminMail" value="matme@sanpablo.com.pe"/>
      <add key="JefeMail" value=""/>
      <add key="CopiaMail" value=""/>
      <add key="CopiaMail2" value=""/>
      <add key="EnviaCorreo" value="SI"/>
      <!--SI / NO-->
      <!--FIN - SERVER CORREO SAN PABLO-->
    </sectionEmail>
  </groupSanPablo>
  <appSettings>
	  
	  
	  
	    <!-- ###### CADENAS CONEXION ############################# -->


	  <!-- TEST -->
	  <!-- SP - 1 connStringSP-->
	  <add key="cn_1" value= "DATA SOURCE=(DESCRIPTION=(LOAD_BALANCE=yes)(ADDRESS=(PROTOCOL=TCP)(HOST=192.1.0.191)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=chspsp))));USER ID =VDIAZO; Password=vdiazo123"/>
	  <!-- SG - 2 connStringSG-->
	  <add key="cn_2" value= "DATA SOURCE=(DESCRIPTION=(LOAD_BALANCE=yes)(ADDRESS=(PROTOCOL=TCP)(HOST=192.1.0.191)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=chspsgts))));USER ID = VDIAZO; Password=vdiazo123"/>
	  <!-- SH - 5  connStringSH-->
	  <add key="cn_5" value= "DATA SOURCE=(DESCRIPTION=(LOAD_BALANCE=yes)(ADDRESS=(PROTOCOL=TCP)(HOST=192.1.0.192)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=chspjnts))));USER ID = VDIAZO; Password=vdiazo123"/>
	  <!-- SJB - 6 connStringSJB-->
	  <add key="cn_6" value= "DATA SOURCE=(DESCRIPTION=(LOAD_BALANCE=yes)(ADDRESS=(PROTOCOL=TCP)(HOST=192.1.0.192)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=chspjnts))));USER ID = VDIAZO; Password=vdiazo123"/>
	  <!-- LV - 7 connStringLV-->
	  <add key="cn_7" value= "DATA SOURCE=(DESCRIPTION=(LOAD_BALANCE=yes)(ADDRESS=(PROTOCOL=TCP)(HOST=192.1.0.212)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=chspsm))));USER ID =VDIAZO; Password=vdiazo123"/>
	  <!-- SN - 9 connStringSN-->
	  <add key="cn_9" value= "DATA SOURCE=(DESCRIPTION=(LOAD_BALANCE=yes)(ADDRESS=(PROTOCOL=TCP)(HOST=192.1.0.192)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=chspjnts))));USER ID = VDIAZO; Password=vdiazo123"/>
	  <!-- SMS - 10 connStringSMS-->
	  <add key="cn_10" value= "DATA SOURCE=(DESCRIPTION=(LOAD_BALANCE=yes)(ADDRESS=(PROTOCOL=TCP)(HOST=192.1.0.192)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=chspjnts))));USER ID = VDIAZO; Password=vdiazo123"/>
	  <!-- LM - 13 connStringLM-->
	  <add key="cn_13" value= "DATA SOURCE=(DESCRIPTION=(LOAD_BALANCE=yes)(ADDRESS=(PROTOCOL=TCP)(HOST=192.1.0.192)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=chspjnts))));USER ID = VDIAZO; Password=vdiazo123"/>
	  <!-- PRIMAVERA - 17 connStringPRIMAVERA-->
	  <add key="cn_17" value= "DATA SOURCE=(DESCRIPTION=(LOAD_BALANCE=yes)(ADDRESS=(PROTOCOL=TCP)(HOST=192.1.0.191)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=chspsp))));USER ID =VDIAZO; Password=vdiazo123"/>
	  <!-- AQP - 21 connStringAQP-->
	  <add key="cn_21" value= "DATA SOURCE=(DESCRIPTION=(LOAD_BALANCE=yes)(ADDRESS=(PROTOCOL=TCP)(HOST=192.1.0.192)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=chspjnts))));USER ID = VDIAZO; Password=vdiazo123"/>
	  <!-- SPDer - 39 connStringSPDer-->
	  <add key="cn_39" value= "DATA SOURCE=(DESCRIPTION=(LOAD_BALANCE=yes)(ADDRESS=(PROTOCOL=TCP)(HOST=192.1.0.191)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=chspsp))));USER ID =VDIAZO; Password=vdiazo123"/>



	  <!-- ###### PAQUETES ############################# -->

	      <!-- SP - 1 -->
	     <add key="pkg_1" value="CHSP.PK_DS_AUTORIZACION_NOTACREDITO."/>
	     <!-- SG - 2 -->
	     <add key="pkg_2" value="CHSP.PK_DS_AUTORIZACION_NOTACREDITO."/>
	     <!-- SH - 5  connStringSH-->
         <add key="pkg_5" value= "CHSP.PK_DS_AUTORIZACION_NOTACREDITO." />
         <!-- SJB - 6 connStringSJB-->
         <add key="pkg_6" value="CHSP.PK_DS_AUTORIZACION_NOTACREDITO."/>
	     <!-- LV - 7 connStringLV-->
         <add key="pkg_7" value= "CHSP.PK_DS_AUTORIZACION_NOTACREDITO."/>
	    <!-- SN - 9 connStringSN-->
        <add key="pkg_9" value= "CHSP.PK_DS_AUTORIZACION_NOTACREDITO."/>
	     <!-- SMS - 10 connStringSMS-->
         <add key="pkg_10" value= "CHSP.PK_DS_AUTORIZACION_NOTACREDITO."/>
         <!-- AQP - 21 connStringAQP-->
         <add key="pkg_21" value= "CHSP.PK_DS_AUTORIZACION_NOTACREDITO."/>
	    <!-- LM - 13 connStringLM-->
         <add key="pkg_13" value= "CHSP.PK_DS_AUTORIZACION_NOTACREDITO."/>
        <!-- PRIMAVERA - 17 connStringPRIMAVERA-->
          <add key="pkg_17" value= "CHSP.PK_DS_AUTORIZACION_NOTACREDITO."/>
        <!-- SPDer - 39 connStringSPDer-->
         <add key="pkg_39" value= "CHSPDER.PK_DS_AUTORIZACION_NOTACREDITO."/>
  
	  
	  
    <add key="rutalog" value="C:\logSistemas\DashBoard\"/>
    <add key="webpages:Version" value="3.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="ImagenAviso" value="blanco.png" />
    <add key="TituloAviso" value=" " />
    <add key="CuerpoAviso" value=" " />
    <add key="FechaAviso" value=" " />
    
    <!--<add key="SERVIDOR" value="http://192.1.0.173/Dashboard" /> -->
    <!--<add key="SERVIDOR" value="http://192.1.0.7/Dashboard" /> -->
    <!--
    <add key="SERVIDOR" value="https://apps.sanpablo.com.pe/Dashboard" />
    <add key="SERVIDOR" value="https://appsTest.sanpablo.com.pe/Dashboard"/>
    
	 
    <add key="SERVIDOR" value="https://dashboard.sanpablo.com.pe"/>
	  <add key="SERVIDOR" value="https://dashboardtest.sanpablo.com.pe"/>
	  
	    <add key="SERVIDOR" value="https://aplicativos.sanpablo.com.pe/PagOnline.WebAppPrueba"/>
	  
	  
    --> 
	  
       <add key="SERVIDOR" value="https://localhost:44361" />
	   <add key="API_SERVIDOR" value="https://localhost:44361"/>
	 
	  <!--
    <add key="API_SERVIDOR" value="https://localhost:7003" />
	 <add key="API_SERVIDOR" value="https://apigen.sanpablo.com.pe:23009" />
	   <add key="API_SERVIDOR" value="https://apigentest.sanpablo.com.pe:23008"/>
	 
	 -->
	  
	  <!--ENVIRONMENT SYNAPSIS 'sandbox' ,'production'-->
	  
	  <add key="PAY_ENVIRONMENT" value="sandbox"/>




  </appSettings>
  <system.web>
    <customErrors mode="Off">
      <error statusCode="404" redirect="Seguridad/Login"/>
    </customErrors>
    <!--<customErrors mode="Off"/>-->
    <sessionState mode="InProc" cookieless="false" timeout="25"/>
    <authentication mode="Forms">
      <forms loginUrl="Seguridad/Login" timeout="25"/>
    </authentication>
    <compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/>
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0"/>
      <remove name="OPTIONSVerbHandler"/>
      <remove name="TRACEVerbHandler"/>
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0"/>
    </handlers>

    <modules>
      <remove name="Session" />
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f"/>
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.Runtime" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Core" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Security" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.API" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Text" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Util" publicKeyToken="13235d27fcbfff58" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
</configuration>