<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>

  <configSections>
    <sectionGroup name="groupSanPablo">
      <section name="sectionEmail" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>
  <groupSanPablo>
    <sectionEmail>
      <!--INICIO - SERVER CORREO SAN PABLO-->
		<add key="Host" value="mail.sanpablo.com.pe" />
		<add key="Puerto" value="25" />
		<add key="UsuarioMail" value="sanpablosaludpagos@sanpablo.com.pe" />
		<add key="MailAddress" value="sanpablosaludpagos@sanpablo.com.pe" />
		<add key="DisplayName" value="Clínica San Pablo - WEB Pagos" />
		<add key="AdminMail" value="matme@sanpablo.com.pe" />
		<!--<add key="PFMail" value="atencionalafiliado@sanpablo.com.pe,cobranzasplanfamiliar@sanpablo.com.pe" />-->
		<add key="PFMail" value="atmemiguel@gmail.com,atmemarcos@gmail.com" />
       <add key="JefeMail" value="" />
		<add key="CopiaMail" value="" />
      <add key="CopiaMail2" value="" />
      <add key="EnviaCorreo" value="SI" />
      <!--SI / NO-->
      <!--FIN - SERVER CORREO SAN PABLO-->
    </sectionEmail>
  </groupSanPablo>
  <appSettings>
	  
	    <!-- ###### CADENAS CONEXION ############################# -->
	  <!-- TEST -->
	  <!-- SP - 1 connStringSP  -->
	  <add key="cn_1" value="DATA SOURCE=(DESCRIPTION=(LOAD_BALANCE=yes)(ADDRESS=(PROTOCOL=TCP)(HOST=192.1.0.191)(PORT=1521))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=chspsp))));USER ID =VDIAZO; Password=vdiazo123" />
      
	  <!-- PROD -->
	  <!-- SP - 1 connStringSP 
	  <add key="cn_1" value="DATA SOURCE=(DESCRIPTION=(LOAD_BALANCE=yes)(ADDRESS_LIST= (ADDRESS=(PROTOCOL=TCP)(HOST=192.1.0.81)(PORT=1521) )(ADDRESS= (PROTOCOL=TCP)(HOST=192.1.0.82)(PORT=1521)))(CONNECT_DATA=(SERVER=dedicated)(SERVICE_NAME=chsp))));USER ID =SBALFREDO; Password=alfre191" />
       -->

	  <add key="rutalog" value="C:\logSistemas\DashBoard\" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="ImagenAviso" value="blanco.png" />
    <add key="TituloAviso" value=" " />
    <add key="CuerpoAviso" value=" " />
    <add key="FechaAviso" value=" " />

	  <add key="SERVIDOR" value="https://localhost:44361" />
	  
	  <!--
	 <add key="SERVIDOR" value="https://pagosenlinea.sanpablosalud.com.pe" />
	  -->

<!--prod 
<add key="PAY_ENVIRONMENT" value="production" />
<add key="APIKEY_1001" value="4efd1a2e-2c03-4833-8629-9c6397e71a45"/>
<add key="SECRET_1001" value="qjkm%yVl0LUGY*r07qfD5LIe/QAHRQcq"/>
-->

<!--test  -->
      <add key="PAY_ENVIRONMENT" value="sandbox" />
	  <add key="APIKEY_1001" value="fffd5ee9-374c-47dc-885a-9ef6230a1c9c" />
	  <add key="SECRET_1001" value="DORPSM2ERXsCk31#iJiGj$dL3rvi8ggM" />


  </appSettings>
  <system.web>

	  <globalization culture="es-ES" uiCulture="es-ES" requestEncoding="utf-8" responseEncoding="utf-8" />

	  <customErrors mode="RemoteOnly" />
	  <sessionState cookieless="false" mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" stateNetworkTimeout="30" timeout="30" />

    <authentication mode="Forms">
      <forms loginUrl="Seguridad/Login" timeout="30" />
    </authentication>
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

	  <staticContent>
		  <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
	  </staticContent>
	  <urlCompression doStaticCompression="true" doDynamicCompression="true" />

  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.Runtime" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Core" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Security" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.API" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Text" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Util" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.1.5717.0" newVersion="8.1.5717.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>