@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <h1>Error</h1>
     
        <p style="font-size:22px;">@ViewBag.codigo - @ViewBag.llave - @ViewBag.msg </p>

    </div>
</body>
</html>
